# 첫 파이썬 코드 - hello

In [ ]:
print("hello")

hello

In [ ]:
print(1)

1

print()는 대상을 출력하라는 python 명령어

In [ ]:
print("1")

1

In [ ]:
print(hello)

NameError: ignored

# 변수와 연산자

## 연산

In [ ]:
1+2

3

In [ ]:
1+2+3

6

In [ ]:
(1+2)*3

9

In [ ]:
1+(2*3)

7

## 변수

In [ ]:
print("tom")

tom

In [ ]:
name = "tom"
print(name)

tom

모든 데이터는 변수에 담아서 사용한다

변수에 담을 때는 다음과 같이 '='를 사용한다
```
변수명 = 값
```


<br>

print() 명령은 전달된 것이 

변수이면 변수에 담긴 값을 출력하고

값이면 그 값을 출력한다.

In [ ]:
age = 20
print(age)

20

In [ ]:
print(20)

20

## 사칙 연산

In [ ]:
print(2+3)

5

In [ ]:
print(2-3)

-1

In [ ]:
print(2*3)

6

In [ ]:
print(2/3)

0.6666666666666666

기본적인 사칙연산을 제공한다

In [ ]:
a = 2
b = 3

In [ ]:
print(a+b)

5

In [ ]:
print(a-b)

-1

In [ ]:
print(a*b)

6

In [ ]:
print(a/b)

0.6666666666666666

연산에 사용된 것이 변수이면 변수의 값을,

값이면 값 자체를 사용한다.

## 변수에 값 할당

In [ ]:
c = a+b
print(c)

5

In [ ]:
c = a-b
print(c)

-1

In [ ]:
c = a*b
print(c)

6

In [ ]:
c = a/b
print(c)

0.6666666666666666

연산된 결과를 다른 변수에 담을 수 있다.

담는 방법은 역시 위에서 언급한 '='를 사용한다.


<br>

'='는 같다라는 의미가 아니라 우측의 결과값을 좌측의 변수에 담으라는 일종의 명령어, 정확히는 연산자이다.

대신 같음을 비교하는 비교 연산자는 '==' 이다.

In [ ]:
1==1

True

In [ ]:
1==2

False

In [ ]:
a = 3
a==3

True

In [ ]:
a = 4
a==4

True

In [ ]:
a = 3
b = 3
a==b

True

In [ ]:
a = 2
a = 3
a==b

True

In [ ]:
name = "tom"
name=="tom"

True

In [ ]:
name = "jerry"
name=="tom"

False

# 데이터 타입

## Boolean 타입
True와 False의 값을 갖는 데이터 타입

In [ ]:
is_equal = (1==1)
print(is_equal)

True

In [ ]:
is_euqal = (1==2)
print(is_equal)

True

## 데이터 타입 들
- int : 정수. integer의 약자.
- float : 실수. floating의 약자
- str : 문자열. string의 약자
- bool : boolean. True/False

In [ ]:
print(3)

3

In [ ]:
print(3.0)

3.0

In [ ]:
print(3.)

3.0

In [ ]:
print("hello")

hello

정수와 실수 그리고 문자열로 구분된다.(이외에도 몇가지 더 있다.)

정수와 실수의 구분은 메모리 사용과 관련되어 있다.

각각 int, float라 부른다. integer의 약자. 소수점이 떠 다닌다 해서 floating.


<br>

그리고 문자열은 단순 값 1개가 아니라 여러개의 값들로 처리하는 내부적인 처리방식 때문에 별개로 처리한다.

문자열은 string이라 불린다. 각 문자들의 연결이라는 의미이다.

In [1]:
print(3)

3

In [ ]:
print(float(3))

3.0

In [ ]:
print(3.1)

3.1

In [ ]:
print(int(3.1))

3

서로 간에 변환할 때는 int(), float()라는 함수를 사용한다.

float를 int로 변환할 때는 정보의 손실이 발생한다.

<br>

+, -, *, /, = 등을 연산자라 하고 

print(), int(), float() 처럼 괄호가 있어서 값을 전달하는 것을 함수라 부른다.

## 타입 보기

In [2]:
print(type(3))

<class 'int'>

In [3]:
print(type(3.1))

<class 'float'>

In [4]:
print(type("tom"))

<class 'str'>

In [8]:
print(type("3"))

<class 'str'>

In [9]:
print(type("3.1"))

<class 'str'>

In [10]:
print(type(True))

<class 'bool'>

In [11]:
print(type(False))

<class 'bool'>

In [12]:
print(type(true))

NameError: ignored

## 다른 타입 간의 연산

In [24]:
print(1 + 3)

4

In [25]:
print(1 + 3.0)

4.0

### 문자열과 다른 타입 간의 연산

In [26]:
print(1 + "3")

TypeError: ignored

원칙적으로 연산 불가하다.

In [27]:
print(1*"3")

3

In [18]:
print(1*"tom")

tom

In [19]:
print(2*"tom")

tomtom

다만 정수와의 곱셈 연산은 반복의 의미로 사용된다.

In [22]:
print(10*"tom")

tomtomtomtomtomtomtomtomtomtom

In [21]:
print(2.0*"tom")

TypeError: ignored

In [20]:
print("tom"*"jerry")

TypeError: ignored

### boolean과 다른 타입 간의 연산

In [28]:
print(2*True)

2

In [29]:
print(2*False)

0

In [30]:
print(2.1*True)

2.1

In [31]:
print(2.1*False)

0.0

In [33]:
print("tom"*True)

tom

In [35]:
print("tom"*False)

In [37]:
print("tom"*0)

True는 정수 1로 False는 정수 0으로 처리된다.

## 데이터 타입 변환

- int() : int 타입으로
- float() : float 타입으로
- str() : string 타입으로
- bool() : boolean 타입으로

In [ ]:
i = 3
f = 3.1
s = "3.1"
b = True

### int()

In [ ]:
print((int(3.0)))

3

In [ ]:
print(int(3.1))

3

소수점 아래는 버려진다

In [ ]:
print(int("3"))

3

In [ ]:
print(int("3.1"))

ValueError: ignored

In [ ]:
print(int("tom"))

ValueError: ignored

In [ ]:
print(int(float("3.1")))

3

In [ ]:
print(int(True))

1

In [ ]:
print(int(False))

0

### float()

In [ ]:
print(float(3))

3.0

In [ ]:
print(float(3.1))

3.1

In [ ]:
print(float("3"))

3.0

In [ ]:
print(float("3.1"))

3.1

In [ ]:
print(float("tom"))

ValueError: ignored

In [ ]:
print(float("-3.1"))

-3.1

In [ ]:
print(float(True))

1.0

In [ ]:
print(float(False))

0.0

### str()

In [ ]:
print(str(3))

3

In [ ]:
print(str(3.1))

3.1

In [ ]:
print(str(True))

True

### bool()

값이 "False", 0, None 그리고 비었을 때만 False를 반환

이외에는 Truefmf qksghks

In [ ]:
print(bool(1))

True

In [ ]:
print(bool(0))

False

In [ ]:
print(bool(3))

True

In [ ]:
print(bool(-1))

True

In [ ]:
print(bool(None))

False

In [ ]:
print(bool("hi"))

True

In [ ]:
print(bool(""))

False

## Quiz. 문자와 숫자 더하기

실패했던 다음을 성공시키려면
```
print("3"+1) # 3+1의 결과인 4를 출력하고 싶다.
```

In [ ]:
print(int("3")+1)

4

In [ ]:
print(int("3")+int("1"))

4

## 반올림과 유사 방법들

4가지 방법이 있다.
- int() : 소수점 아래를 버린다. truc()와 동일
- round() : 가장 가까운 정수로
- math.floor() : 원 값보다 작은 정수로
- math.ceil() : 원 값보다 큰 정수로
- math.truc() : 소수점 아래를 버린다.

In [ ]:
print(round(3.1))
print(round(3.9))
print(round(-3.1))
print(round(-3.9))

3
4
-3
-4

In [ ]:
import math

print(math.floor(3.1))
print(math.floor(3.9))
print(math.floor(-3.1))
print(math.floor(-3.9))

3
3
-4
-4

In [ ]:
import math

print(math.ceil(3.1))
print(math.ceil(3.9))
print(math.ceil(-3.1))
print(math.ceil(-3.9))

4
4
-3
-3

In [ ]:
import math

print(math.trunc(3.1))
print(math.trunc(3.9))
print(math.trunc(-3.1))
print(math.trunc(-3.9))

3
3
-3
-3

In [ ]:
print(int(3.1))
print(int(3.9))
print(int(-3.1))
print(int(-3.9))

3
3
-3
-3

# 연산들
```
+   더하기
-   빼기
*   곱하기
/   나누기
//  나누기의 몫
%   나누기의 나머지
and 논리 and
or  논리 or
not 논리 not
<   비교
>   비교
<=  비교
>=  비교
==  양 쪽의 값이 같은 지
!=  양 쪽의 값이 다른 지
```

## 더하기 +

In [40]:
print(1+3)

4

In [41]:
print(1+3.1)

4.1

In [44]:
print("tom"+"jerry")

tomjerry

## 빼기 -

In [45]:
print(1-3)

-2

In [46]:
print(1-3.1)

-2.1

In [48]:
print("tom" - "jerry")

TypeError: ignored

## 곱하기 *

In [49]:
print(2*3)

6

In [50]:
print(2*3.1)

6.2

In [51]:
print("tom"*2)

tomtom

In [52]:
print("tom"*2.0)

TypeError: ignored

## 나누기 / // *
```
/  : 나누기. 실수
// : 나누기의 몫. 정수
%  : 나누기의 나머지. 실수
```

In [56]:
print(9/4)

2.25

In [57]:
print(9//4)

2

In [55]:
print(9%4)

1

## 비교 연산자들. < > <= >=

In [58]:
print(1<3)

True

In [59]:
print(2<2)

False

In [60]:
print(2<=2)

True

In [63]:
print(2>=2)

True

In [61]:
print(2=<2)

SyntaxError: ignored

In [64]:
print(2>=2)

True

## 비교 연산자 == !=

In [65]:
print(2==2)

True

In [66]:
print(2!=2)

False

In [67]:
print(2==2.0)

True

In [68]:
print(1==True)

True

In [69]:
print("1"==True)

False

In [70]:
print(1=="1")

False

## 논리 연산자들. and or not

In [74]:
a = 3
print(1<a and a<5)

True

In [75]:
a = 3
print((1<a) and (a<5))

True

In [76]:
a = -1
print((a<0) or (a>10))

True

In [81]:
a = 3
is_positive = a>0
print(a, "is_positive :", is_positive)
is_negative = not is_positive
print(a, "is_negative :", is_negative)

3 is_positive : True
3 is_negative : False

# 사용자 입력 input()

사용자의 입력을 받는다.
받은 값은 str 타입이다

In [13]:
name = input()
print(name)

tom
tom

In [ ]:
name = input("이름 : ")
print(name)

이름 : tom
tom

In [ ]:
name = input("이름 : ")
print("이름은",name,"입니다.")

이름 : tom
이름은 tom 입니다.

In [ ]:
age = input("나이 : ")
print("나이는",age,"입니다.")

나이 : 30
나이는 30 입니다.

In [ ]:
age = input("나이 : ")
print(type(age))

나이 : 33
<class 'str'>

## Quiz. 사용자가 입력한 값의 2배를 출력

In [ ]:
i = input()
print(int(i)*2)

3
6

In [ ]:
i = input()
i = int(i)
print(i/2)

3
1.5

## 입력한 값을 2로 나눈 몫

In [ ]:
i = input()
i = int(i)
div = i/2
print(div)
div = int(div)
print(div)

3
1.5
1

## Quiz. 입력한 값을 2로 나눈 나머지

In [ ]:
i = int(input())
div = int(i/2)
mod = i - (div*2)
print(mod)

3
1

## Quiz. 입력한 값을 2로 나눈 몫과 나머지

In [ ]:
i = int(input())
div = int(i/2)
mod = i = (div*2)
print(div, mod)

3
1 2

## Quiz. 2개의 입력을 받아 곱 계산

In [ ]:
a = float(input())
b = float(input())
print(a*b)

2.1
4
8.4

## Quiz. 젯수와 피젯수를 받아 몫과 나머지

In [ ]:
i1 = int(input("젯수 :"))
i2 = int(input("피젯수 : "))
div = int(i1/i2)
mod = i1 - (div*i2)
print(div, mod)
print("몫 :",div, ",나머지 :",mod)

젯수 :5
피젯수 : 2
2 1
몫 : 2 ,나머지 : 1

## Quiz. 값을 받아서 짝수 여부를 출력

In [86]:
i = int(input())
mod = i % 2
is_even = (mod == 0)
print(i, "is even :", is_even)

2
2 is even : True

# print() 포멧

In [ ]:
name = "tom"
age = 30
print(name, age)

tom 30

In [ ]:
name = "tom"
age = 30
print("name=",name, ", age=",age)

name= tom , age= 30

In [ ]:
name = "tom"
age = 30
print("name={}, age={}".format(name, age))

name=tom, age=30

In [ ]:
name = "tom"
age = 30
print("name={}, age={}, 이름={}".format(name, age, name))

name=tom, age=30, 이름=tom

In [ ]:
name = "tom"
age = 30
print("name={0}, age={1}. 이름={0}".format(name, age))

name=tom, age=30. 이름=tom

## 다른 포멧 방법

In [89]:
name = "tom"
age = 30
print("name=%s, age=%d."%(name, age))

name=tom, age=30.

In [104]:
print("a = %.2f"%1234.5678)

a = 1234.57

In [108]:
print("a = %0.2f"%1234.5678)

a = 1234.57

In [109]:
print("a = %10.2f"%1234.5678)

a =    1234.57

In [105]:
print("a = {0:.2f}".format(1234.5678))

a = 1234.57

In [107]:
print("a = {0:0.2f}".format(1234.5678))

a = 1234.57

In [106]:
print("a = {0:10.2f}".format(1234.5678))

a =    1234.57

# 프로그래밍 언어

모든 프로그램은 값을 처리하는 것들이다.

- 값을 담기 위해 변수와 기타 것들이 있고,
- 처리를 하기 위해 연산자, 함수가 있다.


<br>

특히 값을 담은 변수를 특화한

- list, dictionary, map, tuple 이 있다.


<br>

값에 따라 처리할 내용을 달리 하기 위해

- if와 같은 제어문이 있고


<br>

반복적인 것을 처리하기 위한

- for나 while같은 loop 가 있다.


<br>

효율적, 구조적 으로 처리하기 위해

- class라는 것이 있고


<br>

이미 작성된 코드의 재활용을 위해

- module이나 library가 있다.


<br>

처리할 데이터를 가져오고, 처리한 값을 내보내기 위한 다음과 같은 IO(Input/Output)이 있다.

- File I/O
- DB Connection
- Rest API
- HTTP
- ...

# 제어문 if

In [ ]:
temp = 35
print(temp)

35

In [ ]:
print("더워요. 온도가",temp,"도 입니다.")

더워요. 온도가 35 도 입니다.

In [ ]:
temp = 20
print("시원해요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

In [ ]:
temp = 30
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")

더워요. 온도가 30 도 입니다.

In [ ]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")

조건을 만족할 때만 처리하도록 합니다.

다음 약속(syntax)를 따라야 합니다.
- if 뒤에는 조건이 오고
- 조건 뒤에는 ':'이 와야 하고
- 실행 내용은 한칸 들여써야 합니다.

## else

조건을 만족하지 않는 경우에 처리할 내용은 else로 명시합니다.

In [ ]:
temp = 30
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
else:
  print("시원해요. 온도가",temp,"도 입니다.")

더워요. 온도가 30 도 입니다.

In [ ]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
else:
  print("시원해요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

if와 else를 사용하여 조건을 만족할 경우와 만족하지 않을 경우 각각 처리할 내용을 달리 할 수 있습니다.

- else와 :이 있고
- 역시 한칸 들여 씁니다.

## Quiz. 짝수 홀수 판단
사용자가 입력한 값의 짝수 홀수 판단

In [110]:
n = input()
i = int(n)
if i%2==0:
  print("짝수")
else:
  print("홀수")

4
짝수

In [111]:
n = input()
i = int(n)
is_even = i%2==0

if is_even:
  print("짝수")
else:
  print("홀수")

4
짝수

## Quiz. 정수 여부 출력

In [117]:
i = input()
f = float(i)

if f == int(f):
  print("정수입니다.")
else:
  print("실수입니다.")

3.5
실수입니다.

## elif

In [ ]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

In [ ]:
temp = 10
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

추워요. 온도가 10 도 입니다.

elif를 사용하여 여러개의 조건을 순차적으로 적용하여 처리가 가능합니다.

- elif 뒤에 조건을 명시합니다.
- 조건 뒤에 :을 답니다.
- 실행할 명령은 역시 한칸 들여 씁니다.

# 함수

In [ ]:
print("name : {}, age : {}".format("tom", 30))
print("name : {}, age : {}".format("jerry", 33))
print("name : {}, age : {}".format("철수", 20))
print("name : {}, age : {}".format("영희", 22))

name : tom, age : 30
name : jerry, age : 33
name : 철수, age : 20
name : 영희, age : 22

In [ ]:
print("name = {}, age = {}".format("tom", 30))
print("name = {}, age = {}".format("jerry", 33))
print("name = {}, age = {}".format("철수", 20))
print("name = {}, age = {}".format("영희", 22))

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

In [ ]:
def print_name_and_age(name, age):
  print("name : {}, age : {}".format(name, age))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name : tom, age : 30
name : jerry, age : 33
name : 철수, age : 20
name : 영희, age : 22

In [ ]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

다음의 구문으로 함수를 정의한다.

```
def 함수이름(파라매터):
  함수 내용...
```

<br>

함수 내용에 해당하는 부분(코드 블럭)을 표시하기 위해 들여쓰기를 한다.

In [ ]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))
  print("hi")

  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name = tom, age = 30
hi
name = jerry, age = 33
hi
name = 철수, age = 20
hi
name = 영희, age = 22
hi

In [ ]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))
print("hi")

  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

hi
name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

## 함수의 반환 값

반환하는 값이 있을 경우 return을 사용한다
```
def 함수이름(파라매터):
  ...
  return some
```

In [ ]:
def div(a,b): # a를 b로 나누어 몫을 반환한다.
  div = int(a/b)
  return div


print(div(3,2))
print(div(4,2))
print(div(5,2))
print(div(6,2))

1
2
2
3

In [ ]:
def mod(a,b): # a를 b로 나누어 나머지를 반환한다.
  div = int(a/b)
  mod = a - div*b
  return mod

print(mod(3,2))
print(mod(4,2))
print(mod(5,2))
print(mod(6,2))

1
0
1
0

## Quiz. 정수를 받아 짝수 여부를 판단하는 함수

In [ ]:
def is_even(n):
  if mod(n,2)==0:
    return True
  else:
    return False


print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [ ]:
def is_even(n):
  is_even = (mod(n,2)==0)
  return is_even

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [ ]:
def is_even(n):
  return (mod(n,2)==0)

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [ ]:
n = input()
i = int(n)
# if int(i/2)*2==i:
if is_even(i):
  print("짝수")
else:
  print("홀수")

3
홀수

## 여러개를 반환

여러개를 반환할 수 있다.

In [ ]:
def div_n_mod(a,b): # a를 b로 나눈 몫과 나머지를 반환
  div = int(a/b)
  mod = a - div*b
  return div, mod

print(div_n_mod(0,2))
print(div_n_mod(1,2))
print(div_n_mod(2,2))
print(div_n_mod(3,2))
print(div_n_mod(4,2))
print(div_n_mod(5,2))
print(div_n_mod(6,2))
print(div_n_mod(7,2))
print(div_n_mod(8,2))
print(div_n_mod(9,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

In [131]:
def div_n_mod(a,b): # a를 b로 나눈 몫과 나머지를 반환
  div = int(a/b)
  mod = a - div*b
  return div, mod

div, mod = div_n_mod(5,3)
print(div, mod)

1 2

## 파라매터의 기본값

In [125]:
def print_age(age, is_korea=False):
  if is_korea:
    print("나이는 {}입니다.".format(age))
  else:
    print("age is {}.".format(age))

print_age(30)
print_age(30, True)
print_age(30, is_korea=True)

age is 30.
나이는 30입니다.
나이는 30입니다.
나이는 30입니다.

# 반복문 - for

```
for 변수 in 범위:
  반복할 내용
```

In [ ]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
print(div_n_mod(0,2))
print(div_n_mod(1,2))
print(div_n_mod(2,2))
print(div_n_mod(3,2))
print(div_n_mod(4,2))
print(div_n_mod(5,2))
print(div_n_mod(6,2))
print(div_n_mod(7,2))
print(div_n_mod(8,2))
print(div_n_mod(9,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

In [ ]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(div_n_mod(i,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

for 구문을 사용하여 반복적으로 실행할 수 있다.

```
for i in 리스트:
  반복할 내용
```

<br>

연속적인 값들의 리스트는 range()를 사용할 수 있다.

In [ ]:
for i in range(10):
  print(div_n_mod(i,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

## Quiz. 0+1+2+3을 계산

In [ ]:
sum = 0+1+2+3
print(sum)

6

## Quiz 0+1+2+3+4+5+6+7+8+9 계산

In [ ]:
sum = 0+1+2+3+4+5+6+7+8+9
print(sum)

45

In [ ]:
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
sum = sum + 6
sum = sum + 7
sum = sum + 8
sum = sum + 9
print(sum)

45

In [ ]:
sum = 0
for i in [0,1,2,3,4,5,6,7,8,9]:
  sum = sum + i
print(sum)

45

In [ ]:
sum = 0
for i in range(10):
  sum = sum + i
print(sum)

45

## Quiz. 0+1+2+ ... + 99

In [ ]:
sum = 0
for i in range(100):
  sum = sum + i
print(sum)

4950

## range 구문
start 부터 시작해서 end 바로 전까지
```
range(start, end, step)
```

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(3,10,2):
  print(i)

3
5
7
9

## Quiz. 0~99까지 홀수의 총합은?

In [ ]:
sum = 0
for i in range(100):
  if is_even(i):
    pass
  else:
    sum = sum + i
print(sum)

2500

In [ ]:
sum = 0
for i in range(100):
  if not is_even(i):
    sum = sum + i
print(sum)

2500

In [ ]:
sum = 0
for i in range(1,100,2):
    sum = sum + i
print(sum)

2500

## Quiz. 13~123까지 홀수의 갯수는?

In [ ]:
count = 0
for i in range(13,124):
  if not is_even(i):
    count = count + 1
print(count)

56

## Quiz. 별 n개 찍기

In [ ]:
n = 10
for i in range(n):
  print("*", end="")

**********

In [ ]:
def get_star_of_length(n):
  s = ""
  for i in range(n):
    s = s + "*"
  return s

s = get_star_of_length(10)
print(s)

**********

In [ ]:
def get_star_of_length(n):
  return "*"*n

s = get_star_of_length(10)
print(s)

**********

## Quiz. 다음을 출력

```
1
2
3
4
5
```

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

## Quiz. 다음을 출력

```
1 *
2 **
3 ***
4 ****
5 *****
```

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):
  print(i, get_star_of_length(i))

1 *
2 **
3 ***
4 ****
5 *****

## Quiz. 다음을 출력

```
*
**
***
****
*****
```

In [ ]:
for i in range(1,6):
  print(get_star_of_length(i))

*
**
***
****
*****

## Quiz. 구구단 중 3단을 출력

In [ ]:
for i in range(1,10):
  print("{} x {} = {}".format(3, i, (3*i)))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

## Quiz. 구구단 전체 출력

In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print("{} x {} = {}".format(i, j, (i*j)))
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 반복문 - while

```
while 조건:
  반복할 내용
```

In [ ]:
i = 0
while i<5:
  print(i)
  i = i + 1

0
1
2
3
4

## 루프 탈출 - break

In [ ]:
i = 0
while True:
  print(i)
  i = i + 1
  if i>=5:
    break

0
1
2
3
4

# 자료형

다음의 자료형이 있다.
- list : []로 생성
- dict : dictionay. {}로 생성
- set : set()로 생성
- tuple : ()로 생성

## 리스트

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(len(numbers))

10

In [ ]:
print(numbers[3])

3

In [ ]:
print(numbers[9])

9

In [ ]:
print(numbers[10])

IndexError: ignored

In [ ]:
names = ["tom", "jerry", "철수", "영희"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

tom
jerry
철수
영희

In [ ]:
names = ["tom", "jerry", "철수", "영희"]
for name in names:
  print(name)

tom
jerry
철수
영희

In [ ]:
ages = [30, 33, 20, 22]
for age in ages:
  print(age)

30
33
20
22

In [ ]:
for i in range(4):
  print(names[i])

tom
jerry
철수
영희

In [ ]:
size = len(names)
for i in range(size):
  print(names[i])

tom
jerry
철수
영희

In [ ]:
for i in range(len(names)):
  print(names[i])

tom
jerry
철수
영희

In [147]:
for name in names:
  print(name)

tom
jerry
철수
영희

In [ ]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))

for i in range(len(names)):
  print_name_and_age(names[i], ages[i])

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

### Quiz. 총합과 평균

In [ ]:
l = [ 10, 20, 30, 40, 50, 60, 70 ]
count = len(l)
sum = 0
for i in l:
  sum = sum + i

mean = sum / count

print("sum = ",sum)
print("mean = ",mean)

sum =  280
count =  7
mean =  40.0

### 슬라이싱

start:end 방식으로 표현한다. 

start부터 end 이전 까지이다.

In [148]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[3:7])

[3, 4, 5, 6]

In [149]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[:7])

[0, 1, 2, 3, 4, 5, 6]

In [151]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[3:])

[3, 4, 5, 6, 7, 8, 9]

In [152]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### append()

In [ ]:
l = [0,1,2,3]
print(l)
l.append(4)
print(l)

[0, 1, 2, 3]
[0, 1, 2, 3, 4]

### Quiz. 0~20까지 홀수만 리스트에 담기

In [ ]:
l = []
for i in range(21):
  if not is_even(i):
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### insert()

In [ ]:
l = [0,1,2,3,4]
l.insert(1,9)
print(l)

[0, 9, 1, 2, 3, 4]

### remove()

In [ ]:
l = [0,1,2,3,4]
l.remove(1)
print(l)

[0, 2, 3, 4]

### pop()

In [ ]:
l = [0,1,2,3,4]
n = l.pop(1)
print(n)
print(l)

1
[0, 2, 3, 4]

### reverse()

In [ ]:
l = [0,1,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 1, 0]

### sort()

In [ ]:
l = [3,1,4,2,0]
l.sort()
print(l)

[0, 1, 2, 3, 4]

### Quiz. 사용자가 입력한 숫자 중, 3의 배수의 총합과 평균

- 빈값을 입력하면 입력 종료

```
while loop
  입력 받기
  빈문자열이면 break
  리스트에 담기
  
리스트 loop
  int 변환
  3의 배수 체크
    리스트에 담기

리스트 loop
  총합에 담기
평균 구하기
```

In [ ]:
n0 = []
while True:
  i = input()
  if i=="":
    break
  n0.append(int(i))
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

1
2
3
4
5
6

[1, 2, 3, 4, 5, 6]
[3, 6]
9 4.5

### Quiz. 위 퀴즈에서 입력 개수를 최대 10개로

- 받을 수 있는 갯수의 총 개수는 10개가 최대

In [ ]:
n0 = []
while len(n0)<10:
  i = input()
  if i=="":
    break
  n0.append(int(i))
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 6, 9]
18 6.0

### 2차원 리스트

In [156]:
a = [ [0,1,2,3],
      [4,5,6,7],
      [8,9,10,11] ]
print(a)
print(a[1])
print(a[1][2])

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]
[4, 5, 6, 7]
6

## string, 알고보니 리스트

In [ ]:
s = "abcdefghij"
print(s)

abcdefghij

In [ ]:
print(len(s))

10

In [ ]:
print(s[0])

a

In [ ]:
print(s[1])

b

In [ ]:
print(s[9])

j

In [ ]:
print(s[10])

IndexError: ignored

### upper()

전부 대문자로.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.upper())
print(s)

HELLO TOM. HELLO JERRY
hello Tom. hello Jerry

### lower()

전부 소문자로.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.lower())

hello tom. hello jerry

### swapcase()

소대문자를 서로 바꿈.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.swapcase())

HELLO tOM. HELLO jERRY

### capitalize()

맨 첫자만 대문자로. 나머지는 전부 소문자로.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.capitalize())

Hello tom. hello jerry

### title()

각 단어 첫 자만 대문자로. 나머지는 소문자로.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.title())

Hello Tom. Hello Jerry

### strip()

앞 뒤의 빈칸(white 문자)를 제거

In [ ]:
s = "  hello Tom. hello Jerry  "
print("'"+s+"'")
print("'"+s.strip()+"'")

'  hello Tom. hello Jerry  '
'hello Tom. hello Jerry'

### replace()

문자열 바꾸기.

In [ ]:
s = "hello Tom. hello Jerry"
print(s.replace("hello", "hi"))

hi Tom. hi Jerry

### format()

In [ ]:
print("name={}, age={}".format("Tom", 22))

name=Tom, age=22

### join()

리스트의 값들을 하나의 문자열로 묶음.

In [ ]:
l = [ "tom", "jerry", "철수", "영희" ]
print(", ".join(l))

tom, jerry, 철수, 영희

In [ ]:
l = [ "tom", "jerry", "철수", "영희" ]
print(" ".join(l))

tom jerry 철수 영희

In [ ]:
l = [ "tom", "jerry", "철수", "영희" ]
print("".join(l))

tomjerry철수영희

### split()

하나의 문자열을 특정 기호를 기준으로 분리.

In [ ]:
s = "tom, jerry, 철수, 영희"
l = s.split(",")
print(l)

['tom', ' jerry', ' 철수', ' 영희']

In [ ]:
s = "tom jerry 철수 영희"
l = s.split(" ")
print(l)

['tom', 'jerry', '철수', '영희']

In [ ]:
s = "tom, jerry, 철수, 영희"
l = s.split(", ")
print(l)

['tom', 'jerry', '철수', '영희']

### 문자열 체크 함수들

- isalnum() - 알파벳 또는 숫자인가? 
- isalpha() - 알파벳인가?
- isdecimal() - 숫자(decimal, 10진수)인가?
- isdigit() - 숫자(digit, 10진수)인가?
- isidentifier() - 식별자로 사용 가능한가?
- islower() - 소문자인가? 
- isnumeric() - 숫자인가? 
- isspace() - 공백인가? 
- istitle() - title 형식인가? (단어마다 첫 글자가 대문자인가?)
- isupper() - 대문자인가?

### Quiz. 입력을 받아 2배 출력. 정수가 아니면 오류 메시지 출력

In [ ]:
i = input()
if i.isdecimal():
  n = float(i)
  n = n*2
  print(n)
else:
  print("입력값 '{}'는 숫자가 아닙니다.".format(i))

3
6.0

### Quiz. 바로 앞 퀴즈. 소수점 처리

isdecimal(), isdigit()는 소수점 '.'을 처리하지 못한다.
예를 들어 3.5를 입력하면 숫자가 아니라고 한다.
숫자가 되도록 처리.

In [ ]:
def is_float(s):
  r = s.replace(".","")
  return r.isdecimal()

i = input()
if is_float(i):
  n = float(i)
  n = n*2
  print(n)
else:
  print("입력값 '{}'는 숫자가 아닙니다.".format(i))

3.5
7.0

### Quiz. 바로앞 퀴즈. 마이너스 처리

앞의 코드는 '-3.5'를 처리하지 못한다. 픽스.

In [ ]:
def is_minus(v):
  return v[0]=="-"

def is_float(s):
  r = s.replace(".","")
  return r.isdecimal()

i = input()

sign = 1
if is_minus(i):
  i = i.replace("-","")
  sign = -1

if is_float(i):
  n = float(i)
  n = n*2
  n = n*sign
  print(n)
else:
  print("입력값 '{}'는 숫자가 아닙니다.".format(i))

-3.5
-7.0

## dict

키와 값들이 담겨있다.

In [ ]:
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
print(d)

{'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}

In [ ]:
print(d["tom"])

30

In [ ]:
print(d["철수"])

20

In [ ]:
print(len(d))

4

In [ ]:
d['tom'] = 99
print(d)

{'tom': 99, 'jerry': 32, '철수': 20, '영희': 22}

### Quiz. 4명의 이름과 나이를 입력받아 출력한다.

In [ ]:
d = {}
for i in range(4):
  name = input("name:")
  age = int(input("age:"))
  d[name] = age
print(d)

name:tom
age:30
name:jerry
age:32
name:철수
age:20
name:영희
age:22
{'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}

### Quiz. 이름을 입력받아 dict에 담긴 나이를 출력

```
name2age = {'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}
```

In [ ]:
name2age = {'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}

while True:
  name = input()
  if name=="":
    break
  print(name2age[name])

tom
30
철수
20

### keys()

In [ ]:
print(d.keys())

dict_keys(['tom', 'jerry', '철수', '영희'])

In [ ]:
for k in d.keys():
  print(k, d[k])

tom 30
jerry 32
철수 20
영희 22

### values()

In [ ]:
print(d.values())

dict_values([30, 32, 20, 22])

In [ ]:
for v in d.values():
  print(v)

30
32
20
22

### items()

In [ ]:
print(d.items())

dict_items([('tom', 30), ('jerry', 32), ('철수', 20), ('영희', 22)])

In [ ]:
for i in d.items():
  print(i)

('tom', 30)
('jerry', 32)
('철수', 20)
('영희', 22)

In [ ]:
for k,v in d.items():
  print(k,v)

tom 30
jerry 32
철수 20
영희 22

### Quiz. 나이가 30 미만인 사람들의 이름만 출력

```
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
```

In [ ]:
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
l = []
for k, v in d.items():
  if v<30:
    l.append(k)

print(l)

['철수', '영희']

## Tuple

거의 리스트와 비슷하다. 

단순하게 여러개를 주고 받을때 편리하다.

In [134]:
# numbers = [0,1,2,3,4,5,6,7,8,9] # 리스트 선언
numbers = (0,1,2,3,4,5,6,7,8,9)  # 튜플 선언
print(numbers)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [135]:
print(len(numbers))

10

In [136]:
print(numbers[3])

3

In [137]:
print(numbers[9])

9

In [138]:
print(numbers[10])

IndexError: ignored

In [139]:
names = ("tom", "jerry", "철수", "영희")
print(names[0])
print(names[1])
print(names[2])
print(names[3])

tom
jerry
철수
영희

In [140]:
names = ("tom", "jerry", "철수", "영희")
for name in names:
  print(name)

tom
jerry
철수
영희

In [141]:
ages = (30, 33, 20, 22)
for age in ages:
  print(age)

30
33
20
22

### 값 변경 불가
튜플인 경우 값을 변경하지 못한다.

In [143]:
ages = [30, 33, 20, 22]
ages[0] = 15   

ages = (30, 33, 20, 22)
ages[0] = 15 # 튜플인 경우 값을 변경하지 못한다.

TypeError: ignored

이런 이유로 리스트의 append(), insert() 등등의 메소드들이 튜플에는 없다.

### 함수의 반환값이 튜플

In [133]:
def div_n_mod(a,b): # a를 b로 나눈 몫과 나머지를 반환
  div = int(a/b)
  mod = a - div*b
  return div, mod

div, mod = div_n_mod(5,3)
print(div, mod)

result = div_n_mod(5,3)
print(type(result))
print(result)
print(result[0], result[1])

div, mod = result
print(div, mod)

1 2
<class 'tuple'>
(1, 2)
1 2
1 2

함수에서 반환되는 값이 여러개일 때는 tuple로 전달된다.

### 요소가 1개인 튜플 정의

In [145]:
a = (1)
print(a)
print(type(a))

1
<class 'int'>

In [146]:
a = (1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

# File IO

## 1줄 쓰고 읽기

In [ ]:
f = open("greeting.txt", "w")
f.write("hello")
f.close()

In [ ]:
f = open("greeting.txt", "r")
line = f.readline()
print(line)
f.close()

hello

## 2줄 쓰고 읽기

In [ ]:
f = open("greeting.txt", "w")
f.write("hello")
f.write("hi") # ADD
f.close()

In [ ]:
f = open("greeting.txt", "r")
line = f.readline()
print(line)
f.close()

hellohi

In [ ]:
f = open("greeting.txt", "w")
# f.write("hello")
# f.write("hi")
f.write("hello\n")
f.write("hi\n")
f.close()

In [ ]:
f = open("greeting.txt", "r")
line = f.readline()
print(line)
line = f.readline() # ADD
print(line) # ADD
f.close()

hello

hi

In [ ]:
f = open("greeting.txt", "r")
line = f.readline()
line = line.strip()
print(line)
line = f.readline()
line = line.strip()
print(line)
f.close()

hello
hi

## 여러줄 읽기

In [ ]:
f = open("greeting.txt", "r")
lines = f.readlines()
f.close()
for line in lines:
  line = line.strip()
  print(line)

hello
hi

## 파일에 추가하기

In [ ]:
f = open("greeting.txt", "w")
f.write("hello\n")
f.write("hi\n")
f.close()

f = open("greeting.txt", "w")
f.write("HELLO\n")
f.write("HI\n")
f.close()

In [ ]:
f = open("greeting.txt", "r")
lines = f.readlines()
f.close()
for line in lines:
  line = line.strip()
  print(line)

HELLO
HI

In [ ]:
f = open("greeting.txt", "w")
f.write("hello\n")
f.write("hi\n")
f.close()

f = open("greeting.txt", "a")
f.write("HELLO\n")
f.write("HI\n")
f.close()

In [ ]:
f = open("greeting.txt", "r")
lines = f.readlines()
f.close()
for line in lines:
  line = line.strip()
  print(line)

hello
hi
HELLO
HI

## 특정 파일 내용 출력 함수 show_file()

In [ ]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line.strip())

In [ ]:
show_file("greeting.txt")

hello
hi
HELLO
HI

## Quiz. 파일 greeting.txt을 읽어 대문자로 변환 출력

In [ ]:
f = open("greeting.txt", "r")
lines = f.readlines()
f.close()

for line in lines:
  line = line.strip()
  print(line.upper())

HELLO
HI
HELLO
HI

## Quiz. 사용자 입력을 받아 파일 name.txt로 저장

In [ ]:
 name = input()

f = open("name.txt", "w")
f.write(name)
f.close()

show_file("name.txt")

Tom
Tom

## Quiz. 사용자 입력을 2개 받아 파일 name.txt에 저장

In [ ]:
f = open("name.txt", "w")

name = input()
f.write(name+"\n")

name = input()
f.write(name+"\n")

f.close()


show_file("name.txt")

Tom
Jerry
Tom
Jerry

## Quiz. 사용자 입력을 계속 받아 파일 name.txt에 저장

빈 줄을 입력하면 입력 받는 것을 중지한다.

In [ ]:
names = []
while True:
  name = input()
  if(name == ""):
    break
  names.append(name)

f = open("name.txt", "w")
for name in names:
  f.write(name+"\n")
f.close()

show_file("name.txt")

Tom
Jerry
철수
영희

Tom
Jerry
철수
영희

## Quiz. 이름과 나이를 입력받아 people.txt 파일로 저장

한줄에 이름과 나이를 저장. 이름과 나이는 컴파(',')로 구분

빈칸을 입력 받으면 입력 중지

In [ ]:
f = open("people.txt", "w")
while True:
  name = input("name : ")
  if(name == ""):
    break
  age = input("age : ")
  if(name == ""):
    break
  f.write(name+","+age+"\n")

f.close()

show_file("people.txt")

name : Tom
age : 30
name : Jerry
age : 32
name : 철수
age : 20
name : 영희
age : 22
name :
Tom,30
Jerry,32
철수,20
영희,22

## Quiz. people.txt를 읽고 다음 포멧으로 출력

```
이름 : Tom, 나이: 30
이름 : Jerry, 나이: 32
이름 : 철수, 나이: 20
이름 : 영희, 나이: 22
```

## Quiz. people.txt에 이름과 나이 데이터를 추가

빈칸이 들어오면 추가 중지.