# Pandas

copy and modfied from https://colab.research.google.com/github/adeshpande3/Pandas-Tutorial/blob/master/Pandas%20Tutorial.ipynb#scrollTo=eJhH2TCDZdc_

In [0]:
!pip install panda

In [36]:
import pandas as pd
print(pd.__version__)

0.24.2

# 데이터 준비

In [5]:
!rm -rf RegularSeasonCompactResults.csv
!wget https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv

--2019-07-16 15:39:15--  https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4115852 (3.9M) [text/plain]
Saving to: ‘RegularSeasonCompactResults.csv’

RegularSeasonCompac 100%[===================>]   3.92M  --.-KB/s    in 0.1s

2019-07-16 15:39:15 (37.7 MB/s) - ‘RegularSeasonCompactResults.csv’ saved [4115852/4115852]

In [6]:
!head -10 RegularSeasonCompactResults.csv

Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
1985,20,1228,81,1328,64,N,0
1985,25,1106,77,1354,70,H,0
1985,25,1112,63,1223,56,H,0
1985,25,1165,70,1432,54,H,0
1985,25,1192,86,1447,74,H,0
1985,25,1218,79,1337,78,H,0
1985,25,1228,64,1226,44,N,0
1985,25,1242,58,1268,56,N,0
1985,25,1260,98,1133,80,H,0

# 데이터 로딩

In [0]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [17]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [16]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [9]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [10]:
df.shape

(145289, 8)

In [68]:
df.index

RangeIndex(start=0, stop=145289, step=1)

In [19]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145289 entries, 0 to 145288
Data columns (total 8 columns):
Season    145289 non-null int64
Daynum    145289 non-null int64
Wteam     145289 non-null int64
Wscore    145289 non-null int64
Lteam     145289 non-null int64
Lscore    145289 non-null int64
Wloc      145289 non-null object
Numot     145289 non-null int64
dtypes: int64(7), object(1)
memory usage: 8.9+ MB

In [20]:
df.describe()

              Season         Daynum  ...         Lscore          Numot
count  145289.000000  145289.000000  ...  145289.000000  145289.000000
mean     2001.574834      75.223816  ...      64.497009       0.044387
std         9.233342      33.287418  ...      11.380625       0.247819
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2002.000000      78.000000  ...      64.000000       0.000000
75%      2010.000000     103.000000  ...      72.000000       0.000000
max      2016.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

In [21]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

# 참조

In [22]:
df['Wteam']

0         1228
1         1106
2         1112
3         1165
4         1192
5         1218
6         1228
7         1242
8         1260
9         1305
10        1307
11        1344
12        1374
13        1412
14        1417
15        1116
16        1120
17        1135
18        1143
19        1153
20        1165
21        1171
22        1173
23        1177
24        1193
25        1196
26        1206
27        1210
28        1211
29        1234
          ...
145259    1452
145260    1114
145261    1138
145262    1163
145263    1167
145264    1201
145265    1214
145266    1218
145267    1242
145268    1246
145269    1272
145270    1277
145271    1292
145272    1314
145273    1332
145274    1345
145275    1371
145276    1372
145277    1380
145278    1386
145279    1392
145280    1401
145281    1419
145282    1433
145283    1451
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [24]:
df['Wteam'].max()

1464

In [25]:
df['Wteam'].mean()

1286.7206464357246

In [26]:
dir(df['Wteam'])

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_expand_axes',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [30]:
df['Wteam'].idxmax()

82

In [41]:
df[80:85]

    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
80    1985      28   1428      89   1258      85    H      0
81    1985      28   1448      81   1192      67    H      0
82    1985      28   1464      71   1134      58    H      0
83    1985      29   1116      59   1416      45    N      0
84    1985      29   1124      99   1341      77    H      0

In [47]:
# df[82] # NOT SUPPORT
df.iloc[82]

Season    1985
Daynum      28
Wteam     1464
Wscore      71
Lteam     1134
Lscore      58
Wloc         H
Numot        0
Name: 82, dtype: object

In [48]:
df.iloc[82]['Wteam']

1464

In [50]:
df['Wteam'][82]

1464

In [32]:
df['Wteam'].value_counts()

1181    819
1242    804
1246    765
1314    761
1112    746
1393    738
1272    692
1424    685
1257    682
1462    681
1163    679
1328    673
1277    667
1211    663
1228    660
1396    656
1417    655
1400    652
1153    652
1196    644
1307    637
1231    631
1345    630
1437    629
1140    627
1116    625
1326    622
1338    618
1281    613
1433    612
       ...
1367    101
1167    101
1370     95
1377     89
1315     88
1312     86
1255     83
1244     82
1136     78
1128     67
1342     67
1302     62
1146     62
1215     54
1188     51
1303     51
1134     50
1213     50
1121     48
1109     42
1297     38
1230     37
1262     30
1432     28
1445     26
1101     18
1446     14
1118      6
1289      6
1327      3
Name: Wteam, Length: 364, dtype: int64

# numpy로 변환

In [61]:
n = df.to_numpy()
print(n)

[[1985 20 1228 ... 64 'N' 0]
 [1985 25 1106 ... 70 'H' 0]
 [1985 25 1112 ... 56 'H' 0]
 ...
 [2016 132 1246 ... 77 'N' 1]
 [2016 132 1277 ... 62 'N' 0]
 [2016 132 1386 ... 74 'N' 0]]

In [62]:
csv = df.to_csv()
print(csv)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# 기타 기능들

https://www.datacamp.com/community/blog/python-pandas-cheat-sheet 참조

## 데이터 저장

In [63]:
df.to_csv('saved.csv')
!head -10 saved.csv

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
0,1985,20,1228,81,1328,64,N,0
1,1985,25,1106,77,1354,70,H,0
2,1985,25,1112,63,1223,56,H,0
3,1985,25,1165,70,1432,54,H,0
4,1985,25,1192,86,1447,74,H,0
5,1985,25,1218,79,1337,78,H,0
6,1985,25,1228,64,1226,44,N,0
7,1985,25,1242,58,1268,56,N,0
8,1985,25,1260,98,1133,80,H,0

##  엑셀 파일 읽기/쓰기

In [64]:
df.to_excel("saved.xlsx")
!ls -al

total 14540
drwxr-xr-x 1 root root    4096 Jul 16 16:15 .
drwxr-xr-x 1 root root    4096 Jul 16 09:17 ..
drwxr-xr-x 1 root root    4096 Jul 11 16:05 .config
-rw-r--r-- 1 root root     150 Jul 16 12:16 data1.csv
-rw-r--r-- 1 root root      18 Jul 16 12:25 data2.csv
-rw-r--r-- 1 root root 4115852 Jul 16 15:39 RegularSeasonCompactResults.csv
drwxr-xr-x 1 root root    4096 Jul  3 16:14 sample_data
drwxr-xr-x 6 root root    4096 Jul 16 09:32 samplemod
-rw-r--r-- 1 root root 5021766 Jul 16 16:12 saved.csv
-rw-r--r-- 1 root root 5715985 Jul 16 16:15 saved.xlsx

In [0]:
xlsx = pd.ExcelFile('saved.xlsx')
df2 = pd.read_excel(xlsx)

In [67]:
df2.head()

   Unnamed: 0  Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0           0    1985      20   1228      81   1328      64    N      0
1           1    1985      25   1106      77   1354      70    H      0
2           2    1985      25   1112      63   1223      56    H      0
3           3    1985      25   1165      70   1432      54    H      0
4           4    1985      25   1192      86   1447      74    H      0