In [ ]:
print("hello")

hello

In [ ]:
print(1)

1

# 제목 1
여기는 문서를 작성하는 셀입니다

## 제목 2
제목2의 내용

### 제목 3
제목3의 내용

- 항목1
- 항목2
- 항목3

In [ ]:
1 + 2 * 3

In [ ]:
# is_equals = 1 == 1

is_equal = (1 == 1) # 주석....
print(is_equal)

True

In [ ]:
is_equal = ( 1==2 )
print(is_equal)

False

```
int
float
str
bool

```

In [ ]:
print(3)

3

In [ ]:
print(3.0)

3.0

In [ ]:
print(3.)

3.0

In [ ]:
print(float(3))

3.0

In [ ]:
print(int(3.0))

3

In [ ]:
print(int(3.1))
print(int(3.4))
print(int(3.5))
print(int(3.6))
print(int(3.9))
print(int(4.0))

3
3
3
3
3
4

In [ ]:
print(), float(), int()
+ - * / = ==

In [ ]:
print(type(3))

<class 'int'>

In [ ]:
print(type(3.1))

<class 'float'>

In [ ]:
print(type("tom"))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(1+2.)

3.0

In [ ]:
print(float(1)+2.)

3.0

In [ ]:
print(1+"2")

TypeError: ignored

In [ ]:
print(1+int("2"))

3

In [ ]:
print(1+float("2"))

3.0

In [ ]:
"tom" + 1

TypeError: ignored

In [ ]:
print("tom" * 2)

tomtom

In [ ]:
print("tom"*10)

tomtomtomtomtomtomtomtomtomtom

In [ ]:
print("tom"*10.)

TypeError: ignored

In [ ]:
print("tom"*"jerry")

TypeError: ignored

In [ ]:
print(True)

True

In [ ]:
print(int(True))

1

In [ ]:
print(int(False))

0

In [ ]:
print(2*True)

2

In [ ]:
print(2.1*True)

2.1

In [ ]:
print(True*True)

1

In [ ]:
print(bool(True*True))

True

```
int()
float()
str()
bool()
```

In [ ]:
print(int(3.1))
print(int("3"))
# print(int("3.1")) # ERROR
print(int(True))

3
3
1

In [ ]:
print(float(3))
print(float("3.1"))
print(float(True))

3.0
3.1
1.0

In [ ]:
print(str(3))
print(str(3.1))
print(str(True))

3
3.1
True

In [ ]:
print(bool(3))
print(bool(3.1))
print(bool("True"))
print(bool("true"))
print(bool("False"))
print(bool(1))
print(bool(0))
print(bool(None))

True
True
True
True
True
True
False
False

In [ ]:
# print("3"+1)  # 4
print(int("3")+1)

4

In [ ]:
# print("3"+1)  # 4.0
print(float("3")+1)

4.0

In [ ]:
# print("3.1"+1) # 4.1
print(float("3.1")+1)

4.1

In [ ]:
# print("3.1"+"1")  # 4.1
print(float("3.1")+float("1"))  # 4.1

4.1

```
int() : 버림. math.truc() 같다
round() : 반올림/반내림
math.floor() : 원값보다 바로 작은 정수
math.ceil() : 원값보다 바로 큰 정수
math.truc() : 소수전 아래 버리기. 
```

In [ ]:
print(int(3.0))
print(int(3.1))
print(int(3.4))
print(int(3.5))
print(int(3.9))
print(int(4.0))

3
3
3
3
3
4

In [ ]:
print(round(3.0))
print(round(3.1))
print(round(3.4))
print(round(3.5))
print(round(3.9))
print(round(4.0))

3
3
3
4
4
4

In [ ]:
import math

print(math.floor(3.0))
print(math.floor(3.1))
print(math.floor(3.4))
print(math.floor(3.5))
print(math.floor(3.9))
print(math.floor(4.0))

3
3
3
3
3
4

In [ ]:
import math

print(math.ceil(3.0))
print(math.ceil(3.1))
print(math.ceil(3.4))
print(math.ceil(3.5))
print(math.ceil(3.9))
print(math.ceil(4.0))

3
4
4
4
4
4

In [ ]:
import math

print(math.trunc(3.0))
print(math.trunc(3.1))
print(math.trunc(3.4))
print(math.trunc(3.5))
print(math.trunc(3.9))
print(math.trunc(4.0))

3
3
3
3
3
4
-3
-3
-3
-3
-3
-4

In [ ]:
print("floor")
print(math.floor(-3.0))
print(math.floor(-3.1))
print(math.floor(-3.4))
print(math.floor(-3.5))
print(math.floor(-3.9))
print(math.floor(-4.0))

print("truc")
print(math.trunc(-3.0))
print(math.trunc(-3.1))
print(math.trunc(-3.4))
print(math.trunc(-3.5))
print(math.trunc(-3.9))
print(math.trunc(-4.0))

floor
-3
-4
-4
-4
-4
-4
truc
-3
-3
-3
-3
-3
-4

In [ ]:
1+2
2+3

5

In [ ]:
print(1+2)
print(2+3)

3
5

In [ ]:
print("hello")
print(1+2)

In [ ]:
print(9/4)

2.25

In [ ]:
print(9//4)

2

In [ ]:
print(9%4)

1

In [ ]:
print(1<4)

True

In [ ]:
print(5<4)

False

In [ ]:
print(4>3)

True

In [ ]:
print(2>3)

False

In [ ]:
print(3<=4)
print(4<=4)
print(5<=4)

True
True
False

In [ ]:
print(3=<4)

SyntaxError: ignored

In [ ]:
print(3>=4)
print(4>=4)
print(5>=4)

False
True
True

In [ ]:
print(5=>4)

SyntaxError: ignored

In [ ]:
a = 3
print(a==3)
print(a==4)

True
False

In [ ]:
a = 3
print(a!=3)
print(a!=4)

False
True

In [ ]:
is_summer = True
is_rainy = True
print(is_summer and is_rainy)

True

In [ ]:
is_summer = True
is_rainy = False
print(is_summer or is_raniny)

True

In [ ]:
a = 3
# a가 0보다 크고 5보다 작은지 여부를 True/False로 출력
print( (0<a) and (a<5) )
print( 0<a and a<5 )

True
True

In [ ]:
a = 11
# a가 짝수 여부를 출력
print(a%2 == 0)

False

In [ ]:
a = 14
# a가 짝수이고 3의 배수인지 출력
#      짝수       3의배수
print( a%2==0 and a%3==0 )

False

In [ ]:
a = 14
is_even = a%2 == 0
is_3_multi = a%3 == 0

print( is_even and is_3_multi )

False

In [ ]:
name = input()
print(name)

tom
tom

In [ ]:
name = input("이름 :")
print(name)

이름 :tom
tom

In [ ]:
name = input("이름 :")
print("name =", name)

이름 :111
name = 111

In [ ]:
# 나이를 입력 받아서 '나이는 30 입니다.'를 출력
age = input("나이 :")
print("나이는", age, "입니다.")

나이 :30
나이는 30 입니다.

In [ ]:
print(1,2,3,4,"tom","jerry")

1 2 3 4 tom jerry

In [ ]:
# 나이를 입력 받아서 '나이는 30입니다.'를 출력
age = input("나이 :")
print("나이는 ", age, "입니다.", sep="")

나이 :30
나이는 30입니다.

In [ ]:
# Quiz. 사용자가 입력한 값의 2배를 출력
i = input()
i = float(i)
print(i*2)

123.4
246.8

In [ ]:
# Quiz. 사용자가 입력한 값을 2로 나우었을 때의 몫과 나머지를 출력
i = input()
i = float(i)
div = i//2
mod = i%2
print(div, mod)

123.3
61.0 1.2999999999999972

In [ ]:
# Quiz. 2개의 값을 받아 두번째 값으로 첫번째 값을 나눈 몫과 나머지를 출력
i1 = input()
i2 = input()

i1 = float(i1)
i2 = float(i2)

div = i1//i2
mod = i1%i2
print(div, mod)

9
4
2.0 1.0

In [ ]:
# Quiz. 입력 받아서 짝수 여부를 출력
i = input()
i = float(i)
print(i%2==0)

-2
True

In [ ]:
l = [1,2,3,4]

f = [float(i) for i in l]
print(f)

[1.0, 2.0, 3.0, 4.0]

In [ ]:
name = "tom"
age = 30
print(name, age)

tom 30

In [ ]:
name = "tom"
age = 30
print("name :", name, ", age :", age)

name : tom , age : 30

In [ ]:
name = "tom"
age = 30
print("name : {}, age : {}".format(name, age))

name : tom, age : 30

In [ ]:
# "이름은 tom이고 나이는 30입니다."
name = "tom"
age = 30
print("이름은 {}이고 나이는 {}입니다.".format(name, age))

이름은 tom이고 나이는 30입니다.

In [ ]:
# "이름은 tom이고 나이는 30입니다. age=30."

name = "tom"
age = 30
print("이름은 {}이고 나이는 {}입니다. age={}.".format(name, age, age))

이름은 tom이고 나이는 30입니다. age=30.

In [ ]:
# "이름은 tom이고 나이는 30입니다. age=30."

name = "tom"
age = 30
print("이름은 {0}이고 나이는 {1}입니다. age={1}.".format(name, age))

이름은 tom이고 나이는 30입니다. age=30.

In [ ]:
# "이름은 tom이고 나이는 30입니다. name='tom', age=30."

name = "tom"
age = 30
print("이름은 {0}이고 나이는 {1}입니다. name='{0}', age={1}.".format(name, age))

이름은 tom이고 나이는 30입니다. name='tom', age=30.

In [ ]:
# "이름은 tom이고 나이는 30입니다. name="tom", age=30."

name = "tom"
age = 30
print("이름은 {0}이고 나이는 {1}입니다. name=\"{0}\", age={1}.".format(name, age))

이름은 tom이고 나이는 30입니다. name="tom", age=30.

In [ ]:
a = 1
b = 2
c = a + b
d = int(c)
print(d)


"tom".format()

upper("tom") # "TOM"
"tom".upper() # "TOM"


"..{}    {}     {}.......".format(a,b,c)

In [ ]:
value = 123.45678

print("value = {0:0.2f}".format(value))
print("value = {0:.2f}".format(value))
print("value = {0:10.2f}".format(value))
print("value = {0:10.2f}".format(10.25))
print("value = {0:10.2f}".format(123145.25))
print("value = {0:10.2f}".format(10.2))
print("value = {0:10.2f}".format(10000.25))
print("value = {0:10.2f}".format(100000.25))

print("value = {}".format(value))
print("value = {}".format(10.25))
print("value = {}".format(123145.25))
print("value = {}".format(10.2))
print("value = {}".format(10000.25))
print("value = {}".format(100000.25))

value = 123.46
value = 123.46
value =     123.46
value =      10.25
value =  123145.25
value =      10.20
value =   10000.25
value =  100000.25
value = 123.45678
value = 10.25
value = 123145.25
value = 10.2
value = 10000.25
value = 100000.25

In [ ]:
temp = 30
print("온도가 {}도입니다. 더워요.".format(temp))

온도가 30도입니다. 더워요.

In [ ]:
temp = 30
if temp>18:
  print("온도가 {}도입니다. 더워요.".format(temp))
  print("hi")
  print("hello")

온도가 30도입니다. 더워요.
hi
hello

In [ ]:
temp = 30
if temp>18:
  print("온도가 {}도입니다. 더워요.".format(temp))
print("hi")
print("hello")

온도가 30도입니다. 더워요.
hi
hello

In [ ]:
temp = 15
if temp>18:
  print("온도가 {}도입니다. 더워요.".format(temp))
  print("hi")
  print("hello")

In [ ]:
temp = 15
if temp>18:
  print("온도가 {}도입니다. 더워요.".format(temp))
print("hi")
print("hello")

hi
hello

In [ ]:
temp = 30
if temp>18:
  print("온도가 {}도 입니다. 더워요.".format(temp))
else:
  print("온도가 {}도 입니다. 추워요.".format(temp))

온도가 30도 입니다. 더워요.

In [ ]:
temp = 15
if temp>18:
  print("온도가 {}도 입니다. 더워요.".format(temp))
else:
  print("온도가 {}도 입니다. 추워요.".format(temp))

온도가 15도 입니다. 추워요.

In [ ]:
# Quiz. 입력받은 수가 짝수이면 "짝수입니다." 홀수이면 "홀수입니다."를 출력

i = input()
i = float(i)

if i%2==0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

5
홀수입니다.

In [ ]:
# Quiz. 25도 이상이면 "더워요.", 25도 미만과 15도 이상이면 "좋아요."" 15도 미만이면 "추워요." 출력

temp = 14
if temp>=25:
  print("더워요.")
elif temp>=15:
  print("좋아요.")
else:
  print("추워요.")

추워요.

In [ ]:
1,2,3,4,5
1,2,,4,5
1,2,3,,5

1,2,3,4,5
1,2,0,4,5
1,2,3,0,5

In [ ]:
# Quiz. 입력을 받아서 
# 6의 배수이면 "6의 배수입니다." 만 출력하고 
# 3의 배수이면 "3의 배수입니다." 만 출력하고
# 2의 배수이면 "2의 배수입니다." 만 출력한다.

i = input()
i = float(i)

if i%6==0:
  print("6의 배수입니다.")
elif i%3==0:
  print("3의 배수입니다.")
elif i%2==0:
  print("2의 배수입니다.")

5

In [ ]:
# Quiz. 입력을 받아서 
# 8의 배수이면 "입력칸 xxx값은 8의 배수입니다." 만 출력하고 
# 6의 배수이면 "입력칸 xxx값은 6의 배수입니다." 만 출력하고 
# 3의 배수이면 "입력칸 xxx값은 3의 배수입니다." 만 출력하고
# 2의 배수이면 "입력칸 xxx값은 2의 배수입니다." 만 출력한다.


i = input()
org = i
i = float(i)

if i%8==0:
  print("입력칸 {}값은 8의 배수입니다.".format(org))
elif i%6==0:
  print("입력칸 {}값은 6의 배수입니다.".format(org))
elif i%3==0:
  print("입력칸 {}값은 3의 배수입니다.".format(org))
elif i%2==0:
  print("입력칸 {}값은 2의 배수입니다.".format(org))

12
입력칸 12값은 6의 배수입니다.

In [ ]:
# Quiz. 입력을 받아서 
# 8의 배수이면 "입력한 xxx값은 8의 배수입니다. 놀기좋은 5월입니다." 만 출력하고 
# 6의 배수이면 "입력한 xxx값은 6의 배수입니다. 놀기좋은 5월입니다." 만 출력하고 
# 3의 배수이면 "입력한 xxx값은 3의 배수입니다. 놀기좋은 5월입니다." 만 출력하고
# 2의 배수이면 "입력한 xxx값은 2의 배수입니다. 놀기좋은 5월입니다." 만 출력한다.

i = input()
org = i
i = float(i)

if i%8==0:
  print("입력한 {}값은 8의 배수입니다. 놀기좋은 5월입니다.".format(org))
elif i%6==0:
  print("입력한 {}값은 6의 배수입니다. 놀기좋은 5월입니다.".format(org))
elif i%3==0:
  print("입력한 {}값은 3의 배수입니다. 놀기좋은 5월입니다.".format(org))
elif i%2==0:
  print("입력한 {}값은 2의 배수입니다. 놀기좋은 5월입니다.".format(org))

12
입력한 12값은 6의 배수입니다. 놀기좋은 5월입니다.

In [ ]:
i = input()
org = i
i = float(i)

base = None
if i%8==0:
  base = 8
elif i%6==0:
  base = 6
elif i%3==0:
  base = 3
elif i%2==0:
  base = 2

if base!=None:
  print("입력한 {}값은 {}의 배수입니다. 놀기좋은 5월입니다.".format(org, base))

5

In [ ]:
i = input()
org = i
i = float(i)

base = None
for b in [8,6,3,2]:
  if i%b==0:
    base = b
    # break

if base!=None:
  print("입력한 {}값은 {}의 배수입니다. 놀기좋은 5월입니다.".format(org, base))

8
입력한 8값은 2의 배수입니다. 놀기좋은 5월입니다.

In [ ]:
i = input()
org = i
i = float(i)

for b in [8,6,3,2]:
  if i%b==0:
    base = b
    break;

print("입력한 {}값은 {}의 배수입니다. 놀기좋은 5월입니다.".format(org, base))

5
입력한 5값은 None의 배수입니다. 놀기좋은 5월입니다.

In [ ]:
i = input()
i = float(i)

if i%8==0:
  print("입력칸 {}값은 8의 배수입니다.".format(int(i)))
elif i%6==0:
  print("입력칸 {}값은 6의 배수입니다.".format(int(i)))
elif i%3==0:
  print("입력칸 {}값은 3의 배수입니다.".format(int(i)))
elif i%2==0:
  print("입력칸 {}값은 2의 배수입니다.".format(int(i)))

12.0
입력칸 12값은 6의 배수입니다.