In [ ]:
temp = 30

if temp>25:
  weather = "더워요."
else:
  weather = "추워요."

print(weather)
print(1,2,3,4, weather)

더워요.
1 2 3 4 더워요.

In [ ]:
temp = 30
weather = "더워요." if temp>25 else "추워요."

print(weather)

print(1,2,3,4, "더워요." if temp>25 else "추워요.")

더워요.
1 2 3 4 더워요.

```
tom, 30
jerry, 33
철수, 35
영희, 32
```

```
이름 : tom, 나이 : 30
이름 : jerry, 나이 : 33 
이름 : 철수, 나이 : 35
이름 : 영희, 나이 : 32 
```

In [ ]:
print("이름 : {}, 나이 : {}".format( "tom", 30))
print("이름 : {}, 나이 : {}".format( "jerry", 33))
print("이름 : {}, 나이 : {}".format( "철수", 35))
print("이름 : {}, 나이 : {}".format( "영희", 32))

이름 : tom, 나이 : 30
이름 : jerry, 나이 : 33
이름 : 철수, 나이 : 35
이름 : 영희, 나이 : 32

```
이름 = tom, 나이 = 30
이름 = jerry, 나이 = 33 
이름 = 철수, 나이 = 35
이름 = 영희, 나이 = 32 
```

In [ ]:
print("이름 = {}, 나이 = {}".format( "tom", 30))
print("이름 = {}, 나이 = {}".format( "jerry", 33))
print("이름 = {}, 나이 = {}".format( "철수", 35))
print("이름 = {}, 나이 = {}".format( "영희", 32))

In [ ]:
def print_name_and_age(name, age):
  print("이름 = {}, 나이 = {}".format( name, age ))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 35)
print_name_and_age("영희", 32)

이름 = tom, 나이 = 30
이름 = jerry, 나이 = 33
이름 = 철수, 나이 = 35
이름 = 영희, 나이 = 32

```
이름 : tom, 나이 : 30
이름 : jerry, 나이 : 33 
이름 : 철수, 나이 : 35
이름 : 영희, 나이 : 32 
```

In [ ]:
def print_name_and_age(name, age):
  print("이름 : {}, 나이 ; {}".format( name, age ))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 35)
print_name_and_age("영희", 32)

이름 : tom, 나이 ; 30
이름 : jerry, 나이 ; 33
이름 : 철수, 나이 ; 35
이름 : 영희, 나이 ; 32

In [ ]:
def print_name_and_age(name, age):
  print("이름과 나이를 출력합니다.")
  print("이름 : {}, 나이 ; {}".format( name, age ))






  print("========================")
  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 35)
print_name_and_age("영희", 32)

IndentationError: ignored

In [ ]:
def my_print(name):
  print("name=", name)
  print("hi")
  
my_print("tom")
my_print("jerry")

IndentationError: ignored

In [ ]:
def my_sum(a,b):
  a = float(a)
  b = float(b)
  print("합 : ", a+b )

my_sum(1,2)
my_sum(3,-5)
my_sum(5,2)
my_sum(3.3, 1.2)
my_sum("1", 2)
my_sum(1, "2.1")

합 :  3.0
합 :  -2.0
합 :  7.0
합 :  4.5
합 :  3.0
합 :  3.1

In [ ]:
def my_sum(a,b):
  a = float(a)
  b = float(b)
  return a+b

s = my_sum(1,2)
print(s)

3.0

In [ ]:

def div(a,b):
  r = a / b
  d = int(r)
  return d
  # a 나누기 b 몫을 반환

def mod(a,b):
  # a 나누기 b 한 나머지를 반환
  d = div(a,b)
  m = a - b*d
  return m

a = 9
b = 4
print("{} 나누기 {}의 몫은 {}이고 나머지는 {}입니다.".format(a,b,div(a,b), mod(a,b)))

9 나누기 4의 몫은 2이고 나머지는 1입니다.

In [ ]:
def div_and_mod(a, b):
  r = a / b
  d = int(r)
  m = a - b*d
  return d, m


a = 9
b = 4
div, mod = div_and_mod(a, b)

print("{} 나누기 {}의 몫은 {}이고 나머지는 {}입니다.".format(a,b, div, mod))

9 나누기 4의 몫은 2이고 나머지는 1입니다.

In [ ]:
def div_and_mod(a, b):
  r = a / b
  d = int(r)
  m = a - b*d
  return d, m
  
def print_div_and_mod(a,b):
  div, mod = div_and_mod(a, b)
  print("{} 나누기 {}의 몫은 {}이고 나머지는 {}입니다.".format(a,b, div, mod))

print_div_and_mod(9,4)
print_div_and_mod(5,6)
print_div_and_mod(12,3)
print_div_and_mod(11,4)

9 나누기 4의 몫은 2이고 나머지는 1입니다.
5 나누기 6의 몫은 0이고 나머지는 5입니다.
12 나누기 3의 몫은 4이고 나머지는 0입니다.
11 나누기 4의 몫은 2이고 나머지는 3입니다.

In [ ]:
def div_and_mod(a, b):
  a = float(a)
  b = float(b)
  r = a / b
  d = int(r)
  m = a - b*d
  return d, m
  
def print_div_and_mod(a,b):
  div, mod = div_and_mod(a, b)
  print("{} 나누기 {}의 몫은 {}이고 나머지는 {}입니다.".format(a,b, div, mod))

print_div_and_mod(9,4)
print_div_and_mod(5,6)
print_div_and_mod(12,3)
print_div_and_mod(11,4)
print_div_and_mod("11",4)

9 나누기 4의 몫은 2이고 나머지는 1.0입니다.
5 나누기 6의 몫은 0이고 나머지는 5.0입니다.
12 나누기 3의 몫은 4이고 나머지는 0.0입니다.
11 나누기 4의 몫은 2이고 나머지는 3.0입니다.
11 나누기 4의 몫은 2이고 나머지는 3.0입니다.

In [ ]:

# "2는 짝수입니다."
# "1은 홀수입니다."
def is_even(a):
  return a%2==0

def find_number_type(a):
  if is_even(a):
    number_type = "짝수"
  else:
    number_type = "홀수"
  return number_type


a = 2
number_type = find_number_type(a)
print("{}는 {}입니다.".format(a, number_type))

a = 1
number_type = find_number_type(a)
print("{}는 {}입니다.".format(a, number_type))

2는 짝수입니다.
1는 홀수입니다.

In [ ]:
weather = "A" if temp>25 else "B"

In [ ]:

# "2는 짝수입니다."
# "1은 홀수입니다."
def is_even(a):
  return a%2==0

def find_number_type(a):
  return "짝수" if is_even(a) else "홀수"

a = 2
number_type = find_number_type(a)
print("{}는 {}입니다.".format(a, number_type))

a = 1
number_type = find_number_type(a)
print("{}는 {}입니다.".format(a, number_type))

2는 짝수입니다.
1는 홀수입니다.

In [ ]:
def is_even(a):
  return a%2==0

def find_number_type(a):
  return "짝수" if is_even(a) else "홀수"

def print_number_type(a):
  number_type = find_number_type(a)
  print("{}는 {}입니다.".format(a, number_type))


print_number_type(2)
print_number_type(1)

2는 짝수입니다.
1는 홀수입니다.

In [ ]:
def div(a,b):
  r = a / b
  d = int(r)
  return d

def assert_div(a,b, expected):
  d = div(a,b)
  if d==expected:
    pass
  else:
    print("틀렸습니다.")

assert_div(9,4,2)
assert_div(7,4,1)
assert_div(8,2,4)
assert_div(8,2,3) # 틀렸습니다.""

틀렸습니다.

In [ ]:
def div(a,b):
  r = a / b
  d = int(r)
  return d

def mod(a,b):
  # a 나누기 b 한 나머지를 반환
  d = div(a,b)
  m = a - b*d
  return m

def assert_equals(actual, expected):
  if actual==expected:
    pass
  else:
    print("결과값이 다릅니다. {}을 기대했는데 {}입니다.".format(expected, actual))

assert_equals(div(9,4), 2)
assert_equals(div(7,4), 1)
assert_equals(div(8,2), 4)
# assert_equals(div(8,2), 3) # "결과값이 다릅니다. 3을 기대했는데 2입니다."

assert_equals(mod(9,4), 1)
assert_equals(mod(7,4), 3)
assert_equals(mod(8,2), 0)

In [ ]:
import math

print(math.trunc(3.0))
print(math.trunc(3.1))
print(math.trunc(3.4))
print(math.trunc(3.5))
print(math.trunc(3.9))
print(math.trunc(4.0))

print(math.trunc(-3.0))
print(math.trunc(-3.1))
print(math.trunc(-3.4))
print(math.trunc(-3.5))
print(math.trunc(-3.9))
print(math.trunc(-4.0))

In [ ]:
def assert_equals(actual, expected):
  if actual==expected:
    pass
  else:
    print("결과값이 다릅니다. {}을 기대했는데 {}입니다.".format(expected, actual))

def my_trunc(a):
  mul = 1 if a>0 else -1
  abs_a = abs(a)
  r = int(abs_a)
  r = r*mul

  return r

assert_equals(my_trunc(3.0), 3.0)
assert_equals(my_trunc(3.1), 3.0)
assert_equals(my_trunc(3.4), 3.0)
assert_equals(my_trunc(3.5), 3.0)
assert_equals(my_trunc(3.9), 3.0)
assert_equals(my_trunc(4.0), 4.0)
assert_equals(my_trunc(-3.0), -3.0)
assert_equals(my_trunc(-3.1), -3.0)
assert_equals(my_trunc(-3.4), -3.0)
assert_equals(my_trunc(-3.5), -3.0)
assert_equals(my_trunc(-3.9), -3.0)
assert_equals(my_trunc(-4.0), -4.0)

In [ ]:
def my_trunc(a):
  mul = 1 if a>0 else -1
  abs_a = abs(a)
  r = int(abs_a)
  r = r*mul

  return r

# assert_equals(my_trunc(3.0), 3.0)
assert my_trunc(3.0) == 3.0
assert my_trunc(3.1) == 3.0
assert my_trunc(3.4) == 3.0
assert my_trunc(3.5) == 3.0
assert my_trunc(3.9) == 3.0
assert my_trunc(4.0) == 4.0
assert my_trunc(-3.0) == -3.0
assert my_trunc(-3.1) == -3.0
assert my_trunc(-3.4) == -3.0
assert my_trunc(-3.5) == -3.0
assert my_trunc(-3.9) == -3.0
assert my_trunc(-4.0) == -4.0

TypeError: ignored

In [ ]:


def some(a, b):
  r = a+b
  return -1

def other(a,b):
  r = some(a,b)
  return a-b


r2 = 1
c = other(1,2)
print(r)

1

In [ ]:
# 오늘은 7일입니다.
# today is 7th.

def print_day(day, language='korean'):
  if language=="korean":
    print("오늘은 {}일입니다.".format(day))
  else:
    print("today is {}th.".format(day))

print_day(7, "korean")
print_day(7, "english")
print_day(13)
print_day(11)
print_day(5)
print_day(14)
print_day(22)

오늘은 7일입니다.
today is 7th.
오늘은 13일입니다.
오늘은 11일입니다.
오늘은 5일입니다.
오늘은 14일입니다.
오늘은 22일입니다.

In [ ]:
def div(a,b=1):
  r = a / b
  d = int(r)
  return d

print(div(5))

5

In [ ]:
print("hello, I'm Tom.")

hello, I'm Tom.

In [ ]:
print('hello')

hello

In [ ]:
print('hello, I'm Tom.')

SyntaxError: ignored

In [ ]:
print('He said, "Hi"')

He said, "Hi"

In [ ]:
print("He said, \"Hi\"")

He said, "Hi"

In [ ]:
print("He said, 'Hi'")

He said, 'Hi'

In [ ]:
def my_func(a,b=1,c=2,d=3):
  print("{}, {}, {}, {}".format(a,b,c,d))

my_func(11)
my_func(11,22)
my_func(11,22,33)
my_func(11,22,33,444)

my_func(11, c=22)

11, 1, 2, 3
11, 22, 2, 3
11, 22, 33, 3
11, 22, 33, 444
11, 1, 22, 3

In [ ]:
for i in range(10):
  print(i)
  print("hello")

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [ ]:
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")
print("hello. HI")

hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI

In [ ]:
for i in range(10):
  print("hello. HI")

hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI
hello. HI

In [ ]:
print("i=", 0)
print("i=", 1)
print("i=", 2)
print("i=", 3)
print("i=", 4)
print("i=", 5)
print("i=", 6)
print("i=", 7)
print("i=", 8)
print("i=", 9)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [ ]:
for i in range(10):
  print("i=", i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [ ]:
for j in range(10):
  print("i=", j)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [ ]:
for i in [2,4,6,7]:
  print("i=", i)

i= 2
i= 4
i= 6
i= 7

In [ ]:
```
0
2
4
6
8
10
...
98
```

In [ ]:
print(0)
print(2)
print(4)
...
print(98)

In [ ]:
for i in range(50):
  print(i*2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
def div_and_mod(a, b):
  r = a / b
  d = int(r)
  m = a - b*d
  return d, m


# 99 / 1 : 99, 0
# 99 / 2 : 49, 1
# ..
# 99/ 10 : 9, 9

div, mod = div_and_mod(99, 1)
print("{} / {} : {}, {}".format(99, 1, div, mod))
div, mod = div_and_mod(99, 2)
print("{} / {} : {}, {}".format(99, 2, div, mod))
div, mod = div_and_mod(99, 3)
print("{} / {} : {}, {}".format(99, 3, div, mod))
div, mod = div_and_mod(99, 4)
print("{} / {} : {}, {}".format(99, 4, div, mod))
div, mod = div_and_mod(99, 5)
print("{} / {} : {}, {}".format(99, 5, div, mod))
div, mod = div_and_mod(99, 6)
print("{} / {} : {}, {}".format(99, 6, div, mod))
div, mod = div_and_mod(99, 7)
print("{} / {} : {}, {}".format(99, 7, div, mod))
div, mod = div_and_mod(99, 8)
print("{} / {} : {}, {}".format(99, 8, div, mod))
div, mod = div_and_mod(99, 9)
print("{} / {} : {}, {}".format(99, 9, div, mod))

99 / 1 : 99, 0
99 / 2 : 49, 1
99 / 3 : 33, 0
99 / 4 : 24, 3
99 / 5 : 19, 4
99 / 6 : 16, 3
99 / 7 : 14, 1
99 / 8 : 12, 3
99 / 9 : 11, 0

In [ ]:
for i in range(10):
  div, mod = div_and_mod(99, i+1)
  print("{} / {} : {}, {}".format(99, i+1, div, mod))

99 / 1 : 99, 0
99 / 2 : 49, 1
99 / 3 : 33, 0
99 / 4 : 24, 3
99 / 5 : 19, 4
99 / 6 : 16, 3
99 / 7 : 14, 1
99 / 8 : 12, 3
99 / 9 : 11, 0
99 / 10 : 9, 9

In [ ]:
1
3
5
..
29

In [ ]:
for i in range(15):
  print(i*2+1)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
# 1+2+3+ ... +99

s = 0

s = s + 1
s = s + 2
...
s = s + 99

print(s)

In [ ]:
s = 0
for i in range(99):
  s = s + (i+1)
print(s)

4950

In [ ]:
# 0+1+2+3+ ... +99

s = 0

s = s + 0
s = s + 1
s = s + 2
...
s = s + 99

In [ ]:
s = 0
for i in range(100):
  s = s + (i)
print(s)

4950

In [ ]:
#2+4+8+...+98
s = 0
for i in range(50):
  s = s + i*2
print(s)

2450

In [ ]:
s = 0
for i in range(2,99,2):
  s = s + i
print(s)

2450

In [ ]:
# 4 + 7 + 10 + 13 + ... + 1000

s = 0
for i in range(4,1001,3):
  s = s + i
print(s)

167166

In [ ]:
# 2,3,4,...9
for i in range(10):

for i in range(2, 10)

for i in range(2, 10, 2)

In [ ]:
# 13 ~ 127 까지 홀수의 총 합은?
s = 0
for i in range(13,128,2):
  s = s + i
print(s)

4060

In [ ]:
# 12 ~ 127 까지 홀수의 총 합은?
s = 0
for i in range(12, 128, 2):
  s = s + (i+1)
print(s)

4060

In [ ]:
# 12 ~ 127까지 홀수의 총 합과 3의 배수의 총합은?

# 12 ~ 19
# 13 15 17 19 : 45
# 12 15 18 : 45

odd_sum = 0
three_multi_sum = 0

for i in range(12, 128, 2):
  odd_sum = odd_sum + (i+1)

for i in range(12,128, 3):
  three_multi_sum = three_multi_sum + i 
  ...

print(odd_sum)
print(three_multi_sum)

4060
2691

In [ ]:
odd_sum = 0
three_multi_sum = 0

for i in range(12, 128):
  if i%2==1:
    odd_sum = odd_sum + i
  if i%3==0:
    three_multi_sum = three_multi_sum + i
    
print(odd_sum)
print(three_multi_sum)

4060
2691

In [ ]:
odd_sum = 0
three_multi_sum = 0

for i in range(12, 128):
  if i%2==1:
    odd_sum += i
  if i%3==0:
    three_multi_sum += i
    
print(odd_sum)
print(three_multi_sum)

4060
2691

In [ ]:
a = 3
# "a=3 : ***"


s = ""
s = s+"*"
print(s)

*

In [ ]:
a = 3
s = ""
for i in range(a):
  s = s+"*"
print("a={} : {}".format(a, s))

a=3 : ***

In [ ]:
a = 5
s = ""
for i in range(a):
  s = s+"*"
print("a={} : {}".format(a, s))

a=5 : *****

In [ ]:
a=1 : *
a=2 : **
a=3 : ***
...
a=9 : *********

In [ ]:
for i in range(1,10):
  a = i
  s = ""
  for i in range(a):
    s = s+"*"
  print("a={} : {}".format(a, s))

a=1 : *
a=2 : **
a=3 : ***
a=4 : ****
a=5 : *****
a=6 : ******
a=7 : *******
a=8 : ********
a=9 : *********

In [ ]:
for i in range(1,10):
  length = i
  s = ""
  for j in range(length):
    s = s+"*"
  print(s)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in range(1,10):
  s = ""
  for j in range(i):
    s = s+"*"
  print(s)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# 아래 코드는 루프 하나로 구현했다. 우연히 결과가 똑같다.
s = ""
for i in range(10):
  s = s+"*"
  print(s)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
*****
****
***
**
*

In [ ]:
for i in range(5, 0, -1):
  s = ""
  for j in range(i):
    s = s+"*"
  print(s)

*****
****
***
**
*

In [ ]:
def print_star_of_length(length):
  s = ""
  for j in range(length):
    s = s+"*"
  print(s)

for i in range(5,0,-1):
  print_star_of_length(i)

*****
****
***
**
*