# 딕션너리

In [1]:
name_and_age = { "tom":30, "jerry":32, "철수":25, "영희":27 }

In [2]:
print(name_and_age)

{'tom': 30, 'jerry': 32, '철수': 25, '영희': 27}

In [4]:
print(name_and_age["tom"])
print(name_and_age["철수"])

30
25

In [5]:
d = { 
      "tom":30, 
      "jerry":32, 
      "철수":25, 
      "영희":27 
     }

In [8]:
d["bob"] = 33
print(d)

{'tom': 30, 'jerry': 32, '철수': 25, '영희': 27, 'bob': 33}

In [9]:
print(d.keys())

dict_keys(['tom', 'jerry', '철수', '영희', 'bob'])

In [10]:
print(d.values())

dict_values([30, 32, 25, 27, 33])

In [11]:
print(d.items())

dict_items([('tom', 30), ('jerry', 32), ('철수', 25), ('영희', 27), ('bob', 33)])

In [13]:
for k in d.keys():
  print(k)

tom
jerry
철수
영희
bob

In [15]:
l = []
for v in d.values():
  print(v)
  l.append(v)
print(l)

30
32
25
27
33
[30, 32, 25, 27, 33]

In [17]:
for k, v in d.items():
  print("{}의 나이는 {}입니다.".format(k, v))

tom의 나이는 30입니다.
jerry의 나이는 32입니다.
철수의 나이는 25입니다.
영희의 나이는 27입니다.
bob의 나이는 33입니다.

In [18]:
for k in d.keys():
  print("{}의 나이는 {}입니다.".format(k, d[k]))

tom의 나이는 30입니다.
jerry의 나이는 32입니다.
철수의 나이는 25입니다.
영희의 나이는 27입니다.
bob의 나이는 33입니다.

In [21]:
d = { 
      "tom":30, 
      "jerry":32, 
      "철수":25, 
      "영희":27 
     }

names = ["tom", "철수"]
ages = []  # [ 30, 20 ]     

# ```
# 이름 : tom, 나이 : 30
# 이름 : 철수, 나이 : 20
# ```

for name in names:
  age = d[name]
  ages.append(age)

for i in range(len(names)):
  print("이름 : {}, 나이 : {}".format(names[i], ages[i]))

이름 : tom, 나이 : 30
이름 : 철수, 나이 : 25

In [23]:
d = { 
      "tom":30, 
      "jerry":32, 
      "철수":25, 
      "영희":27 
     }

names = ["Tom", "철수"]
ages = []  # [ 30, 20 ]     

# ```
# 이름 : Tom, 나이 : 30
# 이름 : 철수, 나이 : 20
# ```

for name in names:
  age = d[name.lower()]
  ages.append(age)

for i in range(len(names)):
  print("이름 : {}, 나이 : {}".format(names[i], ages[i]))

KeyError: ignored

In [24]:
d = { 
      " Tom":30, 
      "JERRY":32, 
      "철수 ":25, 
      "영희":27 
     }

clean_d = {}

for name, age in d.items():
  cleaned_name = name.strip().lower()
  clean_d[cleaned_name] = age

names = ["tom", "철수"]

for name in names:
  age = clean_d[name]
  ages.append(age)

for i in range(len(names)):
  print("이름 : {}, 나이 : {}".format(names[i], ages[i]))

이름 : tom, 나이 : 30
이름 : 철수, 나이 : 25

In [26]:
d = { 
      " Tom":30, 
      "JERRY":32, 
      "철수 ":25, 
      "영희":27 
     }

for name, age in d.items():
  cleaned_name = name.strip()
  print("'"+name+"'", "'"+cleaned_name+"'")

' Tom' 'Tom'
'JERRY' 'JERRY'
'철수 ' '철수'
'영희' '영희'

In [28]:
'_tom' == 'tom'

False

```
푸른 하늘
좋은_날씨
맑은+하늘

푸른 하늘
좋은 날씨
맑은 하늘

좋은 날씨
``

In [30]:
d = { 
      "tom":30, 
      "jerry":32, 
      "철수":25, 
      "영희":27 
     }

 # [ "tom", "jerry" ]    

l = []
for k, v in d.items():
  if v>=30:
    l.append(k)

print(l)

['tom', 'jerry']

# Set

In [33]:
s = { 1, 2, 3  }
print(s)
print(len(s))

s = { 1, 2, 3, 1, 2, 3 }
print(s)
print(len(s))

{1, 2, 3}
3
{1, 2, 3}
3

In [35]:
l = [ 1, 2, 3  ]
print(l)
print(len(l))

l = [ 1, 2, 3, 1, 2, 3 ]
print(l)
print(len(l))

[1, 2, 3]
3
[1, 2, 3, 1, 2, 3]
6

In [39]:
l = [ 1, 2, 3, 1, 2, 3 ]
l2 = []

def contains(l, target):
  for i in range(len(l)):
    if l[i]==target: return True
  return False

for i in range(len(l)):
  if contains(l2, l[i]): continue
  l2.append(l[i])

print(l2)

[1, 2, 3]

In [41]:
s = { 1, 2, 3 }

s.add(1)
print(s)

s.add(2)
print(s)

s.add(4)
print(s)

s.add(5)
print(s)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [42]:
s = { 1, 2, 3 }

s.discard(1)
print(s)

s.discard(2)
print(s)

{2, 3}
{3}

In [45]:
s = { 1, 2, 3 }
l = list(s)
print(l)

l = [ 5, 6, 7 ]
s = set(l)
print(s)

[1, 2, 3]
{5, 6, 7}

In [46]:
l = [ 1, 2, 3, 1, 2, 3 ]
# l2 = [ 1, 2, 3 ]

s = set(l)
l2 = list(s)

print(l2)

[1, 2, 3]

In [50]:
s1 = { 1, 2, 3 }
s2 = { 3, 4, 5 }

s = s1|s2
print(s)

s = s1&s2
print(s)

{1, 2, 3, 4, 5}
{3}
{1, 2, 3}
{3, 4, 5}

In [52]:
l1 = [ 1, 2, 3 ]
l2 = [ 3, 4, 5 ]

s1 = set(l1)
s2 = set(l2)
u_s = s1 | s2
u = list(u_s)

u = list( set(l1) | set(l2) )
print(u)
i = list( set(l1) & set(l2) )
print(i)

[1, 2, 3, 4, 5]
[3]

# Quiz.

```
d1 = { 'tom': 30, 'jerry': 32, '철수': 25, '영희': 27 }
d2 = { 'tom': 30, '철수': 25, 'bob': 33 }
d = { 'tom': 30, 'jerry': 32, '철수': 25, '영희': 27, 'bob': 33 }
```

In [55]:
d1 = { 'tom': 30, 'jerry': 32, '철수': 25, '영희': 27 }

print("tom" in d1)
print("bob" in d1)

True
False

In [60]:
d1 = { 'tom': 30, 'jerry': 32, '철수': 25, '영희': 27 }
d2 = { 'tom': 30, '철수': 25, 'bob': 33 }

d1_names = set(d1.keys())
d2_names = set(d2.keys())
all_names = list(d1_names | d2_names)

d = {}
for name in all_names:
  if name in d1:
    d[name] = d1[name]
    continue
  if name in d2:
    d[name] = d2[name]
    continue

print(d)

{'bob': 33, '영희': 27, 'tom': 30, 'jerry': 32, '철수': 25}

In [61]:
d1 = { 'tom': 30, 'jerry': 32, '철수': 25, '영희': 27 }
d2 = { 'tom': 30, '철수': 25, 'bob': 33 }

d1_names = set(d1.keys())
d2_names = set(d2.keys())
all_names = list(d1_names | d2_names)

def find_value(d1, d2, key):
  if key in d1: return d1[key]
  if key in d2: return d2[key]
  return None

d = {}
for name in all_names:
  d[name] = find_value(d1, d2, name)
print(d)

{'bob': 33, '영희': 27, 'tom': 30, 'jerry': 32, '철수': 25}

In [72]:
l = [ 2, 1, 1, 4, 2, 2, 3, 5, 4, 3, 4, 5 ]

# 1 : 2
# 2 : 3
# 3 : 2
# 4 : 3
# 5 : 2

count_map = { }

for i in l:
  if i in count_map:
    count = count_map[i]
  else:
    count = 0
  count += 1
  count_map[i] = count

# print(count_map)

keys = list(count_map.keys())
# print(keys)

keys.sort()
# print(keys)

for i in keys:
  print("{} : {}".format(i, count_map[i]))

1 : 2
2 : 3
3 : 2
4 : 3
5 : 2

# File IO

In [78]:
f = open("greeting.txt", "w")
f.write("hello\n")
f.write("hi\n")
f.write("halo\n")
f.close()

In [79]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 May 11 04:22 .
drwxr-xr-x 1 root root 4096 May 11 00:00 ..
drwxr-xr-x 4 root root 4096 May  6 13:43 .config
-rw-r--r-- 1 root root   14 May 11 04:22 greeting.txt
drwxr-xr-x 1 root root 4096 May  6 13:44 sample_data

In [ ]:
hello
hi
halo

In [ ]:
f1 = open("doc1.txt")
f2 = open("doc2.txt")
f3 = open("doc3.txt")

In [80]:
f = open("greeting.txt", "r")
line = f.readline()
f.close()
print(line)

hello

In [1]:
f = open("greeting.txt", "r")
lines = f.readlines()
f.close()
print(lines)

['hello\n', 'hi\n', 'halo\n']

In [4]:
names = [ "tom", "jerry", "철수", "영희" ]
# name.txt
f = open("name.txt", "w")
for name in names:
  f.write(name+"\n")
f.close()

In [9]:
f = open("name.txt", "r")
raw_lines = f.readlines()
f.close()

print(raw_lines)
names = []
for line in raw_lines:
  names.append(line[:-1])
print(names)

['tom\n', 'jerry\n', '철수\n', '영희\n']
['tom', 'jerry', '철수', '영희']

In [10]:
names = [ "tom", "jerry", "철수", "영희" ]
# name.txt

line = ",".join(names)
f = open("name.txt", "w")
f.write(line)
f.close()

In [12]:
f = open("name.txt", "r")
raw_lines = f.readlines()
f.close()

print(raw_lines)
names = raw_lines[0].split(",")
print(names)

['tom,jerry,철수,영희']
['tom', 'jerry', '철수', '영희']

# 파일에 추가

In [19]:
f = open("name.txt", "w")
f.write("tom\n")
f.close()

In [20]:
!cat name.txt

tom

In [21]:
f = open("name.txt", "a")
f.write("jerry\n")
f.close()

In [22]:
!cat name.txt

tom
jerry

# 파일이름을 받아 전부 출력하는 함수

In [25]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

show_file("name.txt")

tom
jerry

# Quiz. name.txt를 읽어 대문자로 변환 출력

In [26]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line.upper(), end="")

show_file("name.txt")

TOM
JERRY

# Quiz. 사용자 입력을 2개 받아 name.txt 파일에 저장. 그리고 파일 내용 출력하여 확인

In [29]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

name = input()
f = open("name.txt", "w")
f.write(name+"\n")
f.close()

name = input()
f = open("name.txt", "a")
f.write(name+"\n")
f.close()

show_file("name.txt")

tom
jerry
tom
jerry

In [ ]:
import kakaotalk

f = kakotalk.open("dhrim", "password")
while True:
  f.send_message("hi")
  line = f.read()
  print(line)
f.close()

# Quiz. 이름을 입력하고 name.txt에 추가. 그리고 파일 내용 확인. 이를 계속 반복. exit 입력되면 종료

In [ ]:
# input = "hi"
# name = input()

In [33]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

def write_to_file(file_name, value):
  f = open(file_name, "a")
  f.write(value+"\n")
  f.close()

FILE_NAME = "name.txt"
while True:
  i = input("이름을 입력하세요 : ")
  if i == "exit": break
  write_to_file(FILE_NAME, i)
  show_file(FILE_NAME)

이름을 입력하세요 : tom
keny
tom
이름을 입력하세요 : jerry
keny
tom
jerry
이름을 입력하세요 : exit

In [ ]:

while True:
  i = input()
  if i == "exit": break
  
  f = open(file_name, "a")
  f.write(value+"\n")
  f.close()

  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

# Quiz.
```
source.txt
2,3
4,5
7,1
```

```
sum.txt
2,3,5
4,5,9
7,1,8
```

In [45]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

f = open("source.txt", "w")
f.write("""2,3
4,5
7,1""")
f.close()

show_file("source.txt")
print()



f = open("source.txt", "r")
lines = f.readlines()
f.close()

new_lines = []
for line in lines:
  if line.endswith("\n"):
    line = line[:-1]
  print(line)
  
  values = line.split(",")
  answer = int(values[0]) + int(values[1])
  new_line = ",".join([values[0], values[1], str(answer)])
  new_lines.append(new_line)

print(new_lines)

f = open("sum.txt", "w")
for line in new_lines:
  f.write(line+"\n")
f.close()

show_file("sum.txt")

2,3
4,5
7,1
2,3
4,5
7,1
['2,3,5', '4,5,9', '7,1,8']
2,3,5
4,5,9
7,1,8

In [51]:
def show_file(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  for line in lines:
    print(line, end="")

f = open("source.txt", "w")
f.write("""2,3
4,5
7,1""")
f.close()

show_file("source.txt")
print()




def clean_line(line):
  if line.endswith("\n"):
    line = line[:-1]
  return line

def calculate_line(line):
  values = line.split(",")
  v1, v2 = int(values[0]), int(values[1])
  answer = v1+v2
  new_values = [ str(v1), str(v2), str(answer) ]
  new_line = ",".join(new_values)
  return new_line


def read_source(file_name):
  f = open(file_name, "r")
  lines = f.readlines()
  f.close()
  return lines

def calculate_lines(lines):
  new_lines = []
  for line in lines:
    line = clean_line(line)
    new_line = calculate_line(line)
    new_lines.append(new_line)
  return new_lines


def write_to_file(file_name, new_lines):
  f = open(file_name, "w")
  for line in new_lines:
    f.write(line+"\n")
  f.close()




lines = read_source("source.txt")
# lines = ['2,3\n', '4,5\n', '7,1']

new_lines = calculate_lines(lines)
# new_lines = ['2,3,5', '4,5,9', '7,1,8']

write_to_file("some.txt", new_lines)

show_file("sum.txt")

2,3
4,5
7,1
lines :  ['2,3\n', '4,5\n', '7,1']
new_lines : ['2,3,5', '4,5,9', '7,1,8']
2,3,5
4,5,9
7,1,8

In [ ]:
# 파일을 줄단위로 읽어서 리스트를 얻는다.
lines = read_line("source.txt")

# 줄단위로 계산해서 리스트를 얻는다.
calculated_lines = calculate_lines(lines)

# 리스트를 파일로 저장한다.
write_to_file("sum.txt", calculated_lines)

# 파일 내용을 출력한다.
show_file("sum.txt")

# Quiz.
source.txt
```
Tom
Jerry
철수
영희
```

```
"Tom의 나이는? " 30
"Jerry의 나이는? " 33

```

화면에 출력
```
Tom,30
Jerry,33
철수,25
영희,23
```

In [ ]:
"name_and_age.txt"

In [ ]:
# task.0 source.txt 파일을 만들어 둔다.

# task.1 source.txt에서 파일을 읽어서 다음 리스트를 구하기
names = [ "Tom", "Jerry", "철수", "영희"]

# task.2 for 루프를 돌면서 input으로 age를 받고 다음 dict를 만들기
age_map = { "Tom":30, "Jerry":33, "철수":25, "영희":23 }

# task.3 for 루프를 돌면서 다음 문자열을 만들기
out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

# task.4 for 루프를 돌면서 리스트 항목을 출력하기

# task.4-2 for 루프를 돌면서 리스트를 name_and_age.txt에 출력하기

In [68]:
# task.0
f = open("source.txt", "w")
f.write("""Tom
Jerry
철수
영희
""")
f.close()

In [61]:
# task.1
f = open("source.txt", "r")
lines = f.readlines()
f.close()

names = []
for line in lines:
  names.append(line[:-1])

print(names)

['Tom', 'Jerry', '철수', '영희']

In [55]:
# task.2
names = [ "Tom", "Jerry", "철수", "영희"]
# age_map = { "Tom":30, "Jerry":33, "철수":25, "영희":23 }

age_map = {}
for name in names:
  age = input("{}의 나이는? ".format(name))
  age = int(age)
  age_map[name] = age

print(age_map)

Tom의 나이는? 30
Jerry의 나이는? 33
철수의 나이는? 25
영희의 나이는? 23
{'Tom': 30, 'Jerry': 33, '철수': 25, '영희': 23}

In [53]:
# task.3
age_map = { "Tom":30, "Jerry":33, "철수":25, "영희":23 }
# out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

out_lines = []
for key, value in age_map.items():
  out_lines.append("{},{}".format(key,value))

print(out_lines)

['Tom,30', 'Jerry,33', '철수,25', '영희,23']

In [52]:
# task.4
out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

for a_line in out_lines:
  print(a_line)

Tom,30
Jerry,33
철수,25
영희,23

In [71]:
# task.4-2
out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

f = open("name_and_age.txt", "w")
for a_line in out_lines:
  f.write(a_line+"\n")
f.close()

show_file("name_and_age.txt")

Tom,30
Jerry,33
철수,25
영희,23

In [72]:
# task.1
f = open("source.txt", "r")
lines = f.readlines()
f.close()

names = []
for line in lines:
  names.append(line[:-1])

# print(names)

# task.2
# names = [ "Tom", "Jerry", "철수", "영희"]
# age_map = { "Tom":30, "Jerry":33, "철수":25, "영희":23 }

age_map = {}
for name in names:
  age = input("{}의 나이는? ".format(name))
  age = int(age)
  age_map[name] = age

# print(age_map)

# task.3
# age_map = { "Tom":30, "Jerry":33, "철수":25, "영희":23 }
# out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

out_lines = []
for key, value in age_map.items():
  out_lines.append("{},{}".format(key,value))

# print(out_lines)

# task.4
# out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

for a_line in out_lines:
  print(a_line)

# task.4-2
# out_lines = [ "Tom,30", "Jerry,33", "철수,25", "영희,23" ]

f = open("name_and_age.txt", "w")
for a_line in out_lines:
  f.write(a_line+"\n")
f.close()

show_file("name_and_age.txt")

Tom의 나이는? 30
Jerry의 나이는? 33
철수의 나이는? 25
영희의 나이는? 23
Tom,30
Jerry,33
철수,25
영희,23
Tom,30
Jerry,33
철수,25
영희,23

In [67]:
# "Tom"+","+33

"{},{}".format("Tom", 33)

'Tom,33'

# 내장 함수

In [1]:
l = [ 1, 2, 3, 4, 5 ]
s = sum(l)
print(s)

t = ( 1, 2, 3 )
print(sum(t))

s = { 1, 2, 3 }
print(sum(s))

# d = { "tom":1 }
# print(sum(t))

15
6
6

In [77]:
# l = [ 1, 2, 3, 4 ]
# sum = sum(l)
# print(l)

# print(sum([3,4,5]))

[1, 2, 3, 4]

TypeError: ignored

In [4]:
print(min([1,2,3,4]))
print(max([1,2,3,4]))

ages = [ 30, 25, 22, 28 ]
print(max(ages))

1
4
30

In [5]:
age = 30
min_age = 20
final_age = max(age, min_age)
print(final_age)

30