# Quiz. 다음을 출력

```
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
...
3 x 9 = 27
```

In [ ]:
for i in range(2, 10):
  print("3 x {} = {}".format(i, 3*i))

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

Quiz. 다음을 출력

```
2 x 2 = 4
2 x 3 = 6
2 x 4 = 18
...
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
...
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
...
4 x 9 = 36

...

9 x 2 = 18
9 x 3 = 27
9 x 4 = 136
...
9 x 9 = 81


```

In [ ]:
for i in range(2,10):
  for j in range(2, 10):
    print("{} x {} = {}".format(i, j, i*j))
  print()

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
def print_dan(i):
  for j in range(2, 10):
    print("{} x {} = {}".format(i, j, i*j))

for i in range(2,10):
  print_dan(i)
  print()

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# Quiz.
```
*
**
***
****
*****
```

In [ ]:
for i in range(5):
  star = ""
  for j in range(i+1):
    star += "*"
  print(star)

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(i+1):
    print("*", end="")
  print()

*
**
***
****
*****

# Quiz.
```
    *
   **
  ***
 ****
*****
```

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(" ", end="")
  for j in range(i+1):
    print("*", end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
def print_space_of_lenth(length):
  for j in range(length):
    print(" ", end="") 

def print_star_of_length(length):
  for j in range(length):
    print("*", end="")

for i in range(5):
  print_space_of_lenth(4-i)
  print_star_of_length(i+1)
  print()

In [ ]:
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 

for i in range(5):
  print_of_length(" ", 4-i)
  print_of_length("*", i+1)
  print()

    *
   **
  ***
 ****
*****

```
         i    A를     *를
AAAA*    0    4=4-0   1=0+1
AAA**    1    3=4-1   2=1+1
AA***    2    2=4-2   3=2+1
A****    3    1=4-3   4=3+1
*****    4    0=4-4   5=4+1
```

In [ ]:
for i in range(5):
  for j in range(4-i):
    print("A", end="")
  for j in range(i+1):
    print("*", end="")
  print()

AAAA*
AAA**
AA***
A****
*****

In [ ]:
print("   **")

   **

In [ ]:
print("hi")
print("hello")
print("tom")

print("hi\nhello\ntom")

hi
hello
tom
hi
hello
tom

# Quiz

```
                i    space     star
    *           0    4=4-0=4-i 1=0*2+1=i*2+1
   ***          1    3=4-1=4-i 3=1*2+1
  *****         2    2=4-2=4-i 5=2*2+1
 *******        3    1=4-3=4-i 7=3*2+1
*********       4    0=4-4=4-i 9=4*2+1
```

In [ ]:
print("""                i    space     star
    *           0    4=4-0=4-i 1=0*2+1=i*2+1
   ***          1    3=4-1=4-i 3=1*2+1
  *****         2    2=4-2=4-i 5=2*2+1
 *******        3    1=4-3=4-i 7=3*2+1
*********       4    0=4-4=4-i 9=4*2+1""")

                i    space     star
    *           0    4=4-0=4-i 1=0*2+1=i*2+1
   ***          1    3=4-1=4-i 3=1*2+1
  *****         2    2=4-2=4-i 5=2*2+1
 *******        3    1=4-3=4-i 7=3*2+1
*********       4    0=4-4=4-i 9=4*2+1

In [ ]:
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 

for i in range(5):
  print_of_length(" ", 4-i)
  print_of_length("*", i*2+1)
  print()

    *
   ***
  *****
 *******
*********

# Quiz.
```
                i    space     star
    *           0    4=4-0=4-i 1=0*2+1=i*2+1
   ***          1    3=4-1=4-i 3=1*2+1
  *****         2    2=4-2=4-i 5=2*2+1
 *******        3    1=4-3=4-i 7=3*2+1
*********       4    0=4-4=4-i 9=4*2+1
 *******
  *****
   ***
    *
```
```
1
2
3
4
5
4
3
2
1
```

In [ ]:
for i in range(1,6):
  print(i)
for i in range(4,0,-1):
  print(i)

1
2
3
4
5
4
3
2
1

In [ ]:
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 

for i in range(5):
  print_of_length(" ", 4-i)
  print_of_length("*", i*2+1)
  print()

In [ ]:
for i in range(5):
  print(4-i, i*2+1)

for i in range(4,0,-1):
  print(5-i, i*2-1)

4 1
3 3
2 5
1 7
0 9
1 7
2 5
3 3
4 1

In [ ]:
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 

for i in range(5):
  print_of_length(" ", 4-i)
  print_of_length("*", i*2+1)
  # print(4-i, i*2+1)
  print()

for i in range(4,0,-1):
  print_of_length(" ", 5-i)
  print_of_length("*", i*2-1)  
  # print(5-i, i*2-1)
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# while 루프

In [ ]:
count = 0
while True:
  print(count)
  count += 1
  if count >=5:
    break

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

# Quiz. 다음 for를 while문으로 변경

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
count = 1
while True:
  print(count)
  count += 1
  if count >=5:
    break

1
2
3
4

# Quiz. 다음 for를 while문으로 변경

In [ ]:
for i in range(1,5):
  print("hello", i)

hello 1
hello 2
hello 3
hello 4

In [ ]:
count = 1
while True:
  print("hello", count)
  count += 1
  if count>=5:
    break

hello 1
hello 2
hello 3
hello 4

# Quiz. 다음 for를 while문으로 변경

In [ ]:
for i in range(1,5,2):
  print("hello", i)

hello 1
hello 3

In [ ]:
count = 1
while True:
  print("hello", count)
  count += 2
  if count>=5:
    break

hello 1
hello 3

In [ ]:
START= 1
END = 5
STEP = 2

for i in range(START, END, STEP):
  print("hello", i)

hello 1
hello 3

In [ ]:
START= 1
END = 5
STEP = 2


count = START
while True:
  print("hello", count)
  count += STEP
  if count>=END:
    break

for i in range(START, END, STEP):
  print("hello", i)

hello 1
hello 3
hello 1
hello 3

In [ ]:
START= 1
END = 5
STEP = 2

count = START
while count < END:
  print("hello", count)
  count += STEP

hello 1
hello 3

# Quiz. 다음 for를 while문으로 변경

In [ ]:
for i in range(5, 1, -1):
  print("hello", i)

In [ ]:
count = 5
while True:
  print("hello", count)
  count -= 1
  if count<=1:
    break

hello 5
hello 4
hello 3
hello 2

In [ ]:
START= 5
END = 1
STEP = -1

count = START
while count > END:
  print("hello", count)
  count += STEP

hello 5
hello 4
hello 3
hello 2

# try except

In [ ]:
print(int(3.1))
try:
  print(int("3.1"))
except:
  pass
print("hello")

3
hello

# Quiz. 사용자 입력을 받아서 그 줄수만큼 삼각형 그리기. 잘못된 줄수가 들어오면 무시하고 다시 입력 받는다. 이를 무한 반복
```
hi
3
*
**
***
3.1
5
*
**
***
****
*****
```

In [ ]:
i = input("정수를 입력하세요.")
i = int(i)

print("hello", i)

정수를 입력하세요.3
hello 3

In [ ]:
def get_input():
  while True:
    i = input()
    try:
      size = int(i)
      break
    except:
      pass
  return size
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 
def draw_triangle(size):
  for i in range(size):
    print_of_length("*", i+1)
    print()
while True:
  size = get_input()
  draw_triangle(size)

hi
3
*
**
***
3.1
5
*
**
***
****
*****

KeyboardInterrupt: ignored

# Quiz. 사용자가 'exit'를 입력하면 실행 중지

In [ ]:
def get_input():
  while True:
    i = input()
    if i == "exit":
      return -1
    try:
      size = int(i)
      break
    except:
      pass
  return size
def print_of_length(symbol, length):
  for j in range(length):
    print(symbol, end="") 
def draw_triangle(size):
  for i in range(size):
    print_of_length("*", i+1)
    print()
while True:
  size = get_input()
  if size==-1:
    break
  draw_triangle(size)

3
*
**
***
exit

# Quiz. 입력을 받아 2배 출력. 무한 반복. exit 입력 시 중지

```
1
2.0
-1
-2.0
3.1
6.2
exit
```

In [ ]:
while True:
  i = input()
  if i == "exit":
    break
  try:
    n = float(i)
  except:
    pass
  print(n*2)

2
4.0
3.1
6.2
-3
-6.0
exit

# 리스트

In [ ]:
l = [ 0, 1, 2, 3, 4 ]
print(l)

[0, 1, 2, 3, 4]

In [ ]:
names = [ "tom", "jerry", "철수", "영희" ]
print(names)

['tom', 'jerry', '철수', '영희']

```
hi tom
hi jerry
hi 철수
hi 영희
```

In [ ]:
name1 = "tom"
name2 = "jerry"
name3 = "철수"
name4 = "영희"

print("hi {}".format(name1))
print("hi {}".format(name2))
print("hi {}".format(name3))
print("hi {}".format(name4))

hi tom
hi jerry
hi 철수
hi 영희

In [ ]:
names = [ "tom", "jerry", "철수", "영희" ]

for name in names:
  print("hi {}".format(name))

hi tom
hi jerry
hi 철수
hi 영희

In [ ]:
numbers = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(len(numbers))

10

```
첫번째 -> 인덱스가 0
두번재 -> 인덱스가 1
10번재 -> 인덱스가 9
```

In [ ]:
names = [ "tom", "jerry", "철수", "영희" ]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

tom
jerry
철수
영희

# Quiz.
```
0 : tom
1 : jerry
2 : 철수
3 : 영희
```

In [ ]:
names = [ "tom", "jerry", "철수", "영희", "Bob" ]
for i in range(len(names)):
  print("{} : {}".format(i, names[i]))

0 : tom
1 : jerry
2 : 철수
3 : 영희
4 : Bob

In [ ]:
names = [ "tom", "jerry", "철수", "영희", "Bob" ]
print(names[5])

IndexError: ignored

In [ ]:
names = [ "tom", "jerry", "철수", "영희", "Bob" ]
print(names[len(names)-1])
print(names[-1])
print(names[-2])
print(names[-3])
print(names[-4])
print(names[-5])
print(names[-6])

Bob
Bob
영희
철수
jerry
tom

IndexError: ignored

In [ ]:
names = [ "tom", "jerry", "철수", "영희", "Bob" ]
for i in range(len(names)):
  print(names[i])

print()

for name in names:
  print(name)

tom
jerry
철수
영희
Bob

tom
jerry
철수
영희
Bob

```
tom : 30
jerry : 33
철수 : 35
영희 : 32
Bob : 15
```

In [ ]:
names = [ "tom", "jerry", "철수", "영희", "Bob" ]
ages = [ 30, 33, 35, 32, 15 ]

for i in range(len(names)):
  print("{} : {}".format(names[i], ages[i]))

tom : 30
jerry : 33
철수 : 35
영희 : 32
Bob : 15

In [ ]:
l = [ 10, 20, 30, 40, 50, 60 ]
s = 0

size = len(l)
for i in range(size):
  s += l[i]
m = s / size

print(s, m)

210 35.0

# list slicing

In [ ]:
l = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]

l2 = [ 2, 3, 4 ] # l의 3번째 부터 5번째 까지를 복사

l2 = [ l[2], l[3], l[4] ]
print(l2)

l2 = l[2:5]
print(l2)

l2 = l[:5]
print(l2)

l2 = l[2:]
print(l2)

l2 = l[:]
print(l2)

[2, 3, 4]
[2, 3, 4]
[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]
# l2 = [ 0, 2, 4, 6, 8]

l2 = l[::2]
print(l2)

l2 = l[::-1]
print(l2)

[0, 2, 4, 6, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]

#

```
names[start:end:step]
```

In [ ]:
l = [0,1,2,3,4,5]
l.append(9)
print(l)

[0, 1, 2, 3, 4, 5, 9]

# Quiz. 1~20 까지 홀수만 리스트에 담기

In [ ]:
l = []
for i in range(1,21):
  if not i%2==0:
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Quiz. [1,2,3,4,5,6,7,8,9,10]에서 홀수만 리스트에 담기

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
l2 = []
for i in l:
  if not i%2==0:
    l2.append(i)
print(l2)

[1, 3, 5, 7, 9]

In [ ]:
l = list(range(1,11))
l2 = []
for i in l:
  if not i%2==0: # if not even
    l2.append(i)
print(l2)

[1, 3, 5, 7, 9]

In [ ]:
def is_even(v):
  return v%2==0

l = list(range(1,11))
l2 = []
for i in l:
  if not is_even(i):
    l2.append(i)
print(l2)

[1, 3, 5, 7, 9]

In [ ]:
l = [0,1,2]
l.append(9)
print(l)
l.append(99)
print(l)

[0, 1, 2, 9]
[0, 1, 2, 9, 99]

In [ ]:
l = [ 0, 1, 2, 3 ]
l.insert(2, 9)
print(l)
l.insert(1,88)
print(l)

[0, 1, 9, 2, 3]
[0, 88, 1, 9, 2, 3]

In [ ]:
l = [ 0, 1, 2, 3, 4 ]
l.pop(2)
print(l)
l.pop(1)
print(l)

[0, 1, 3, 4]
[0, 3, 4]

In [ ]:
l = [ 2, 3, 4, 5, 6 ]
l.remove(2)
print(l)

[3, 4, 5, 6]

In [ ]:
l = [ 0, 1, 2, 3, 4 ]
l.reverse()
print(l)

[4, 3, 2, 1, 0]

In [ ]:
l = [ 3, 1, 2, 4, 0 ]
l.sort()
print(l)

[0, 1, 2, 3, 4]

In [ ]:
l = [ 0, 1, 2, 3, 4 ]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# quiz. 사용자가 입력한 값 중에 3의 배수만 추려서 총합과 평균 출력. 'exit'입력하면 중지
```
6
2
5
3
8
9
exit
18, 6
```

In [ ]:
s = 0
count = 0
while True:
  i = input()
  if i=="exit": break
  try:
    i = int(i)
    if i%3==0:
      s += i
      count += 1
  except:
    pass

m = s/count
print(s, m)

6
2
5
3
8
9
exit
18 6.0

In [ ]:
l = []
while True:
  i = input()
  if i=="exit": break
  try:
    i = int(i)
    l.append(i)
  except:
    pass

s = 0
count = 0
for i in l:
  if i%3==0:
    s += i
    count += 1

m = s / count
print(s, m)

6
2
5
3
8
9
exit
18 6.0

# Quiz. 최대 5개만 입력 받을 수 있도록

In [ ]:
l = []
while True:
  i = input()
  if i=="exit": break
  try:
    i = int(i)
    l.append(i)
    if len(l)>=5: break
  except:
    pass

s = 0
count = 0
for i in l:
  if i%3==0:
    s += i
    count += 1

m = s / count
print(s, m)

1
2
3
4
5
3 3.0

# Quiz. 작은순 5개 합은?
```
l = [ 3, 5, 1, 6, 4, 2, 7, 4 ]
```

In [ ]:
l = [ 3, 5, 1, 6, 4, 2, 7, 4 ]
l.sort()

s = 0
for i in range(5):
  s += l[i]

print(s)

14

In [ ]:
l = [ 3, 5, 1, 6, 4, 2, 7, 4 ]
l.sort()

s = 0
# c = 10
# if len(l)<c : c = len(l)
c = min(10, len(l))
for i in range(c):
  s += l[i]

print(s)

32

In [ ]:
i = input()
org = i
i = int(i)

# 2, 3, 6, 8 중의 가장 큰 배수를 찾아라.

base = None
if i%8==0:
  base = 8
elif i%6==0:
  base = 6
elif i%3==0:
  base = 3
elif i%2==0:
  base = 2

if base!=None:
  print("입력한 {}은 {}의 배수입니다.".format(org, base))

6
입력한 6은 6의 배수입니다.

In [ ]:
i = input()
org = i
i = int(i)

# 2, 3, 6, 8 중의 가장 큰 배수를 찾아라.

base = None
bases = [ 2, 3, 6, 8 ]
bases.sort(reverse=True)
for b in bases:
  if i%b==0:
    base = b
    break

if base!=None:
  print("입력한 {}은 {}의 배수입니다.".format(org, base))

12
입력한 12은 6의 배수입니다.

# 2차원 배열

In [ ]:
l = [
     [0,1,2,3],
     [4,5,6,7],
     [8,9,10,11]
]

print(l)
print(l[1])
print(l[1][2])

print(len(l))
print(len(l[1]))

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]
[4, 5, 6, 7]
6
3
4

In [ ]:
l = []
c = 0
for i in range(3):
  sub_l = []
  for j in range(4):
    sub_l.append(c)
    c += 1
  l.append(sub_l)

print(l)

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [ ]:

l = []
c = 0
for i in range(4):
  l.append(c)
  c += 1
print(l)

[0, 1, 2, 3]

# Quiz. 다음 데이터의 압력의 평균
```
l = [ #무게, 압력, 진동, 밝기
     [0,1,2,3],
     [4,5,6,7],
     [8,9,10,11]
]
```

In [ ]:
l = [ #무게, 압력, 진동, 밝기
     [0,1,2,3],
     [4,5,6,7],
     [8,9,10,11]
]

# l[0][1] + l[1][1] + l[2][1]

s = 0
for i in range(len(l)):
  s += l[i][1]

m = s / len(l)
print(s, m)

15 5.0

In [ ]:
import numpy as np

l = np.array(l)
s = np.sum(l[:,1])
print(s)

15

# 스트링

In [ ]:
s = "abcdefghijk"
print(s)

abcdefghijk

In [ ]:
print(len(s))

11

In [ ]:
print(s[0])

a

In [ ]:
s = "abcdefghijk"
print(s[-1])
print(s[3:6])

k
def

In [ ]:
for i in range(len(s)):
  print(s[i])

a
b
c
d
e
f
g
h
i
j
k

In [ ]:
l = [0,1,2,3,4,5]
for i in range(len(l)):
  print(l[i])

0
1
2
3
4
5

In [ ]:
s = [ "a", "b", "c", "d"]
s = "abcde..."

In [ ]:
print(dir("abcde"))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

```
split()
join()
replace()
strip()
format()
```

In [ ]:
s = "Hi Tom, Hello Jerry."
print(s.upper())

HI TOM, HELLO JERRY.

In [ ]:
s = "Hi Tom, Hello Jerry."
print(s.lower())

hi tom, hello jerry.

In [ ]:
s = "Hi Tom, Hello Jerry."
words = s.split(" ")
print(words)

['Hi', 'Tom,', 'Hello', 'Jerry.']

In [ ]:
a_line = "3,5,12,tom,234,543"
columns = a_line.split(",")
print(columns)

['3', '5', '12', 'tom', '234', '543']

In [ ]:
a_line = "3|5|12|tom|234|543"
columns = a_line.split("|")
print(columns)

['3', '5', '12', 'tom', '234', '543']

In [ ]:
a_line = "3,5,12,tom,234,543"
columns = a_line.split(",")

new_line = "|".join(columns)
print(new_line)

3|5|12|tom|234|543

In [ ]:
path = "/some/path/to/my/data"
#new_path = "/some/path/backup/my/data" 

pathes = path.split("/")
print(pathes)

pathes[3] = "backup"

print(pathes)

new_path = "/".join(pathes)
print(new_path)

['', 'some', 'path', 'to', 'my', 'data']
['', 'some', 'path', 'backup', 'my', 'data']
/some/path/backup/my/data

In [ ]:
s = " hello Tom. hello Jerry.     "
s = s.strip()
print("'"+s+"'")
words = s.split(" ")
new_s = "_".join(words)
print(new_s)
#s = "hello Tom. hello Jerry."
# "hello_Tom._hello_Jerry"

'hello Tom. hello Jerry.'
hello_Tom._hello_Jerry.

In [ ]:
s = 'hello Tom. hello Jerry.'
s = s.replace(" ", "_")
print(s)

hello_Tom._hello_Jerry.

In [ ]:
v = "+1"
print(v.startswith("+"))
print(v.find("+"))
print(v.find("1"))

True
0
1

# Quiz. 입력한 문자열을 파싱하여 짝수의 합만 구하기
```
'3 8 2 tom hi 2 5'
```

In [ ]:
s = ""
s.isnumeric

In [ ]:
i = input()
words = i.split(" ")
s = 0
for word in words:
  if word.isnumeric():
    v = float(word)
    if v%2==0:
      s += v
print(s)

3 8 tom 2 5 4
14.0

In [ ]:
i = input()
words = i.split(" ")
s = 0
for word in words:
  if not word.isnumeric(): continue
  v = float(word)
  if v%2==0:
    s += v
print(s)

3 8 tom 2 5 4
14.0

# Quiz. 입력을 받아 2배 출력. 숫자가 아니면 '입력값 xxx는 숫자가 아닙니다' 출력

In [ ]:
# isdigit()나 isnumeric()을 사용하지 말고 try-except 사용을 권장.
i = input()
if i.isdigit():
  v = float(i)
  print(v*2)
else:
  print("입력값 {}는 숫자가 아닙니다".format(i))

KeyboardInterrupt: ignored

```
str
list
tuple
dic
set
```

# Tuple

In [ ]:
l = [ 0, 1, 2, 3 ]
t = ( 0, 1, 2, 3 )
print(l)
print(type(l))
print(t)
print(type(t))

print(len(l))
print(len(t))

print(l[0])
print(t[0])

[0, 1, 2, 3]
<class 'list'>
(0, 1, 2, 3)
<class 'tuple'>
4
4
0
0

In [ ]:
def div_and_mod(a, b):
  return 1, 2

div, mod = div_and_mod(9, 4)
print(div, mod)

t = div_and_mod(9, 4)
print(t)
print(type(t))
print(t[0], t[1])

1 2
(1, 2)
<class 'tuple'>
1 2

In [ ]:
import numpy as np

a = np.arange(12).reshape((3,4))
a = np.arange(12).reshape((3,4,5,6,7))


print(a)
shape = a.shape
print(shape)
print(type(shape))
print(shape[0])
print(shape[1])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
(3, 4)
<class 'tuple'>
3
4

In [ ]:
l = [ 0, 1, 2, 3 ]
print(l)
l[1] = 11
print(l)

[0, 1, 2, 3]
[0, 11, 2, 3]

In [ ]:
t = ( 0, 1, 2, 3 )
print(t)
t[1] = 11

(0, 1, 2, 3)

TypeError: ignored

In [ ]:
t = (1,2,3)
print(t)
print(type(t))

t = (1,2)
print(t)
print(type(t))

t = (1,)
print(t)
print(type(t))

t = (1)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>
(1, 2)
<class 'tuple'>
(1,)
<class 'tuple'>
1
<class 'int'>

In [ ]:
a = (1+2)*3

a = (1+2)

a = (3)

In [ ]:
a = { "a":1, "b":2 }

In [ ]:
def div_and_mod(a, b):
  return 1, 2

d, m = div_and_mod(9, 4)
print(d, m)

t = div_and_mod(9, 4)
print(t)
(d, m) = t
print(d, m)

d, m = t
print(d, m)

d, m = t[0], t[1]
print(d, m)

1 2
(1, 2)
1 2
1 2
1 2

# 클래스

In [ ]:
class MyCalculator:
  def __init__(self):
    self.value = 0

  def plus(self, v):
    self.value += v
    print(self.value)

  def minus(self, v):
    self.value -= v
    print(self.value)
  
cal = MyCalculator()
cal.plus(3)
cal.minus(1)
cal.plus(-1)
cal.minus(2)
cal.plus(5)

3
2
1
-1
4

```
created.
0 + 3 = 3
3 - 1 = 2
2 + -1 = 1
1 - 2 =-1
-1 + 5 = 4
```

In [ ]:
created.

In [ ]:
s = "abc"
s.