# Python 과정 평가문제

# 제출자 이름 : XXXX

위 XXXX를 제출자 이름으로 변경해 주세요.

<br>

문제에 대한 풀이 코드를 작성하고 실행된 결과를 포함된 ipynb파일을 메일로 제출해 주세요.

dh-rim@hanmail.net으로 다음 제목으로 보내주세요.
```
python 과정 평가 - 제출자이름
```

# Quiz.1
사용자 입력을 자연수로 받아 그 숫자 만큼의 줄수로 다음과 같은 삼각형을 출력.
print()문을 1개만 사용한다.

```
줄수 : 5
1
21
321
4321
54321
```

# Quiz.2
다음과 같은 사용자 입력을 받아 계산하고 그 결과를 출력.

```
사용자 입력 : 1+2
```
출력
```
1+2=3
```

사용자 입력은 숫자와 '+' 혹은 '-' 그리고 숫자로 구성된다.

숫자의 길이는 5글자를 넘지 않는다. 

사용자 입력에 숫자와 '.', '+', '-'를 제외한 다른 문자는 포함되지 않는다.

다음은 입력 가능한 예 들이다.

```
1+2
123+1.23
3.21-2.34
12345+1.234
```

# Quiz.3

raw_data는 다음과 같다.

```
0,170,강서구,23,B
1,165,서초구,22,A
2,177,,25,O
3,172,강서구,,B
4,166,마포구,26,AB
```

데이터가 5개 있고, 각 컬럼은 데이터 인덱스, 키, 거주지, 나이, 혈액형 이다.

나이의 경우 값이 없는 경우도 있다.

위의 데이터에 대한 키의 평균과 나이의 평균을 출력한다.

```
나이 평균 = xxx.xxx
키 평균 = xxx.xxx
```
키의 값이 없는 경우 평균 계산에서 제외한다.

<br>

그리고 사는 거주지 전체의 리스트를 출력한다.

위 데이터의 경우 다음과 같다. 리스트 값들의 순서는 무시한다. 값이 없는 경우는 무시한다.
```
[ '서초구', '마포구', '강서구' ]
```

In [ ]:
raw_data="""0,170,강서구,23,B
1,165,서초구,22,A
2,177,,25,O
3,172,강서구,,B
4,166,마포구,26,AB"""

# Quiz.4

이름과 나이가 dict에 담겨 있다.
```
d = { "tom":32, "jerry":25, "철수":26, "영희":27 }
```
나이 가 적은 순으로다음을 출력한다.
```
25살 jerry
26살 철수
27살 영희
32살 tom
```

Hint. 주어딘 d는 이름이 키이고 나이가 값이다. 나이가 키이고 이름이 값인 dict을 만들어서 이를 가지고 어떻게 할지 고민해 보자.

# Quiz.5

다음의 코드를 정리해서
```
print("length=5, symbol=* : *****")
print("length=3, symbol=+ : +++")
print("length=6, symbol=$ : $$$$$$")
print("length=2, symbol=# : ##")
```
다음의 코드로 정리하고 싶다.
```
# symbol과 length를 받아서 length길이의 symbol로 구성된 문자열을 반환한다.
# build_symbol_of_length("*", 3)으로 호출하면 "***" 반환
# build_symbol_of_length("$", 7)으로 호출하면 "$$$$$$$" 반환
# build_symbol_of_length("!", 5)으로 호출하면 "!!!!!" 반환
def build_symbol_of_length(symbol, length):
  ...

# symbol과 length를 받아서 특정 포멧의 1줄을 출력.
# draw_symbol_of_length("*", 3)으로 호출하면 'length=3, symbol=* : ***'을 출력
# draw_symbol_of_length("$", 7)으로 호출하면 'length=7, symbol=$ : $$$$$$$'을 출력
# draw_symbol_of_length("!", 5)으로 호출하면 'length=5, symbol=! : !!!!!'을 출력
def draw_symbol_of_length(symbol, length):
  ...

symbol_length_dic = { "*":5, "+":3, "$":6, "#":2 }

for symbol, length in symbol_length_dic.items():
  draw_symbol_of_length(symbol, length)
```
함수 xxx를 채워 넣는다.

In [ ]:
print("length=5, symbol=* : *****")
print("length=3, symbol=+ : +++")
print("length=6, symbol=$ : $$$$$$")
print("length=2, symbol=# : ##")

length=5, symbol=* : *****
length=3, symbol=+ : +++
length=6, symbol=$ : $$$$$$
length=2, symbol=# : ##

In [ ]:
# symbol과 length를 받아서 length길이의 symbol로 구성된 문자열을 반환한다.
# build_symbol_of_length("*", 3)으로 호출하면 "***" 반환
# build_symbol_of_length("$", 7)으로 호출하면 "$$$$$$$" 반환
# build_symbol_of_length("!", 5)으로 호출하면 "!!!!!" 반환
def build_symbol_of_length(symbol, length):
  ...
 
# symbol과 length를 받아서 특정 포멧의 1줄을 출력.
# draw_symbol_of_length("*", 3)으로 호출하면 'length=3, symbol=* : ***'을 출력
# draw_symbol_of_length("$", 7)으로 호출하면 'length=7, symbol=$ : $$$$$$$'을 출력
# draw_symbol_of_length("!", 5)으로 호출하면 'length=5, symbol=! : !!!!!'을 출력
def draw_symbol_of_length(symbol, length):
  ...
 
symbol_length_dic = { "*":5, "+":3, "$":6, "#":2 }
 
for symbol, length in symbol_length_dic.items():
  draw_symbol_of_length(symbol, length)

# Quiz. 6

다음 코드는 2의배수만 추려서 절대값을 구하고 2배하고 이를 소팅한 코드이다.

리스트 표현식을 사용하여 for 구문 없이 같은 출력을 내도록 한다.

In [ ]:
l = [4, -2, -3, 6, 4, -8, 9, 10]

l2 = []
for i in l:
  if i%2==0:
    l2.append(abs(i)*2)
l2.sort()
print(l2)

[4, 8, 8, 12, 16, 20]