# Python 과정 평가문제

# 제출자 이름 : XXXX

위 XXXX를 제출자 이름으로 변경해 주세요.

<br>

문제에 대한 풀이 코드를 작성하고 실행된 결과를 포함된 ipynb파일을 메일로 제출해 주세요.

dh-rim@hanmail.net으로 다음 제목으로 보내주세요.
```
python 과정 평가 - 제출자이름
```

# Quiz.1
사용자 입력을 자연수로 받아 그 숫자 만큼의 줄수로 다음과 같은 삼각형을 출력.
print()문을 1개만 사용한다.

```
줄수 : 5
1
21
321
4321
54321
```

In [ ]:
c = int(input("줄수 : "))

for i in range(1,c+1):
  a_line = ""
  for j in range(i,0,-1):
    a_line += str(j)
  print(a_line)

줄수 : 5
1
21
321
4321
54321

In [ ]:
c = int(input("줄수 : "))

for i in range(1,c+1):
  a_line_value = 0
  for j in range(i,0,-1):
    a_line_value = a_line_value*10 + j
  print(a_line_value)

줄수 : 5
1
21
321
4321
54321

In [ ]:
c = int(input("줄수 : "))

def build_a_line(c):
  a_line = ""
  for i in range(c):
    a_line = str(i+1) + a_line
  return a_line

for i in range(c):
  a_line = build_a_line(i+1)
  print(a_line)

줄수 : 5
1
21
321
4321
54321

# Quiz.2
다음과 같은 사용자 입력을 받아 계산하고 그 결과를 출력.

```
사용자 입력 : 1+2
```
출력
```
1+2=3
```

사용자 입력은 숫자와 '+' 혹은 '-' 그리고 숫자로 구성된다.

숫자의 길이는 5글자를 넘지 않는다. 

사용자 입력에 숫자와 '.', '+', '-'를 제외한 다른 문자는 포함되지 않는다.

다음은 입력 가능한 예 들이다.

```
1+2
123+1.23
3.21-2.34
12345+1.234
```

In [ ]:
i = input("사용자 입력 : ")

if "+" in i:
  values = i.split("+")
  result = float(values[0]) + float(values[1])
elif "-" in i:
  values = i.split("-")
  result = float(values[0]) + float(values[1])

print("{}={}".format(i, result))

사용자 입력 : 3.21-2.34
3.21-2.34=5.55

In [ ]:
i = input("사용자 입력 : ")

result = eval(i)
print("{}={}".format(i, result))

사용자 입력 : 3.21-2.34
3.21-2.34=0.8700000000000001

# Quiz.3

raw_data는 다음과 같다.

```
0,170,강서구,23,B
1,165,서초구,22,A
2,177,,25,O
3,172,강서구,,B
4,166,마포구,26,AB
```

데이터가 5개 있고, 각 컬럼은 데이터 인덱스, 키, 거주지, 나이, 혈액형 이다.

나이의 경우 값이 없는 경우도 있다.

위의 데이터에 대한 키의 평균과 나이의 평균을 출력한다.

```
나이 평균 = xxx.xxx
키 평균 = xxx.xxx
```
키의 값이 없는 경우 평균 계산에서 제외한다.

<br>

그리고 사는 거주지 전체의 리스트를 출력한다.

위 데이터의 경우 다음과 같다. 리스트 값들의 순서는 무시한다. 값이 없는 경우는 무시한다.
```
[ '서초구', '마포구', '강서구' ]
```

In [8]:
raw_data="""0,170,강서구,23,B
1,165,서초구,22,A
2,177,,25,O
3,172,강서구,,B
4,166,마포구,26,AB"""

In [10]:
data = raw_data.split("\n")

def mean(l):
  if len(l)==0: return 0.
  sum = 0
  for i in l:
    sum += i
  return sum/len(l)

heights = []
for i in range(len(data)):
  values = data[i].split(",")
  if values[1]=="": continue
  heights.append(float(values[1]))
height_mean = mean(heights)

ages = []
for i in range(len(data)):
  values = data[i].split(",")
  if values[3]=="": continue
  ages.append(float(values[3]))
age_mean = mean(ages)

areas = set()
for i in range(len(data)):
  values = data[i].split(",")
  if values[2]=="": continue
  areas.add(values[2])

print("나이 평균 = {}".format(age_mean))
print("키 평균 = {}".format(height_mean))
print(list(areas))

나이 평균 = 24.0
키 평균 = 170.0
['마포구', '강서구', '서초구']

In [47]:
data = raw_data.split("\n")

def mean(l):
  if len(l)==0: return 0.
  sum = 0
  for i in l:
    sum += i
  return sum/len(l)

def get_target_value(a_line, target_index):
  values = a_line.split(",")
  if values[target_index]=="": return None
  return float(values[target_index])

def get_number_values(data, target_index):
  target_values = []
  for i in range(len(data)):
    values = data[i].split(",")
    if values[target_index]=="": continue
    target_values.append(float(values[target_index]))
  return target_values

def get_mean(data, target_index):
  target_values = get_number_values(data, target_index)
  return mean(target_values)

height_mean = get_mean(data, 1)
age_mean = get_mean(data, 3)

areas = set()
for i in range(len(data)):
  values = data[i].split(",")
  if values[2]=="": continue
  areas.add(values[2])

print("나이 평균 = {}".format(age_mean))
print("키 평균 = {}".format(height_mean))
print(list(areas))

나이 평균 = 24.0
키 평균 = 170.0
['마포구', '강서구', '서초구']

In [49]:
data = raw_data.split("\n")

def mean(l):
  if len(l)==0: return 0.
  sum = 0
  for i in l:
    sum += i
  return sum/len(l)

def get_target_value(a_line, target_index):
  values = a_line.split(",")
  if values[target_index]=="": return None
  return float(values[target_index])

def get_number_values(data, target_index):
  target_values = [ get_target_value(i, target_index) for i in data ]
  if None in target_values: target_values.remove(None)
  return target_values

def get_mean(data, target_index):
  target_values = get_number_values(data, target_index)
  return mean(target_values)

height_mean = get_mean(data, 1)
age_mean = get_mean(data, 3)

areas = set()
for i in range(len(data)):
  values = data[i].split(",")
  if values[2]=="": continue
  areas.add(values[2])

print("나이 평균 = {}".format(age_mean))
print("키 평균 = {}".format(height_mean))
print(list(areas))

[170.0, 165.0, 177.0, 172.0, 166.0]
[23.0, 22.0, 25.0, 26.0]
나이 평균 = 24.0
키 평균 = 170.0
['마포구', '강서구', '서초구']

# Quiz.4

이름과 나이가 dict에 담겨 있다.
```
d = { "tom":32, "jerry":25, "철수":26, "영희":27 }
```
나이 가 적은 순으로다음을 출력한다.
```
25살 jerry
26살 철수
27살 영희
32살 tom
```

Hint. 주어딘 d는 이름이 키이고 나이가 값이다. 나이가 키이고 이름이 값인 dict을 만들어서 이를 가지고 어떻게 할지 고민해 보자.

In [15]:
d = { "tom":32, "jerry":25, "철수":26, "영희":27 }

In [34]:
reverse_d = {}

for k,v in d.items():
  reverse_d[v] = k
  
ages = list(reverse_d.keys())
ages.sort()

for age in ages:
  print("{}살 {}".format(age, reverse_d[age]))
  reverse_d.pop(age)

25살 jerry
26살 철수
27살 영희
32살 tom

# Quiz.5

다음의 코드를 정리해서
```
print("length=5, symbol=* : *****")
print("length=3, symbol=+ : +++")
print("length=6, symbol=$ : $$$$$$")
print("length=2, symbol=# : ##")
```
다음의 코드로 정리하고 싶다.
```
# symbol과 length를 받아서 length길이의 symbol로 구성된 문자열을 반환한다.
# build_symbol_of_length("*", 3)으로 호출하면 "***" 반환
# build_symbol_of_length("$", 7)으로 호출하면 "$$$$$$$" 반환
# build_symbol_of_length("!", 5)으로 호출하면 "!!!!!" 반환
def build_symbol_of_length(symbol, length):
  ...

# symbol과 length를 받아서 특정 포멧의 1줄을 출력.
# draw_symbol_of_length("*", 3)으로 호출하면 'length=3, symbol=* : ***'을 출력
# draw_symbol_of_length("$", 7)으로 호출하면 'length=7, symbol=$ : $$$$$$$'을 출력
# draw_symbol_of_length("!", 5)으로 호출하면 'length=5, symbol=! : !!!!!'을 출력
def draw_symbol_of_length(symbol, length):
  ...

symbol_length_dic = { "*":5, "+":3, "$":6, "#":2 }

for symbol, length in symbol_length_dic.items():
  draw_symbol_of_length(symbol, length)
```
함수 xxx를 채워 넣는다.

In [ ]:
print("length=5, symbol=* : *****")
print("length=3, symbol=+ : +++")
print("length=6, symbol=$ : $$$$$$")
print("length=2, symbol=# : ##")

length=5, symbol=* : *****
length=3, symbol=+ : +++
length=6, symbol=$ : $$$$$$
length=2, symbol=# : ##

In [36]:
# symbol과 length를 받아서 length길이의 symbol로 구성된 문자열을 반환한다.
# build_symbol_of_length("*", 3)으로 호출하면 "***" 반환
# build_symbol_of_length("$", 7)으로 호출하면 "$$$$$$$" 반환
# build_symbol_of_length("!", 5)으로 호출하면 "!!!!!" 반환
def build_symbol_of_length(symbol, length):
  return symbol * length
 
# symbol과 length를 받아서 특정 포멧의 1줄을 출력.
# draw_symbol_of_length("*", 3)으로 호출하면 'length=3, symbol=* : ***'을 출력
# draw_symbol_of_length("$", 7)으로 호출하면 'length=7, symbol=$ : $$$$$$$'을 출력
# draw_symbol_of_length("!", 5)으로 호출하면 'length=5, symbol=! : !!!!!'을 출력
def draw_symbol_of_length(symbol, length):
  symbol_of_length = build_symbol_of_length(symbol, length)
  print("length={}, symbol={} : {}".format(length, symbol, symbol_of_length))
 
symbol_length_dic = { "*":5, "+":3, "$":6, "#":2 }
 
for symbol, length in symbol_length_dic.items():
  draw_symbol_of_length(symbol, length)

length=5, symbol=* : *****
length=3, symbol=+ : +++
length=6, symbol=$ : $$$$$$
length=2, symbol=# : ##

# Quiz. 6

다음 코드는 2의배수만 추려서 절대값을 구하고 2배하고 이를 소팅한 코드이다.

리스트 표현식을 사용하여 for 구문 없이 같은 출력을 내도록 한다.

In [ ]:
l = [4, -2, -3, 6, 4, -8, 9, 10]

l2 = []
for i in l:
  if i%2==0:
    l2.append(abs(i)*2)
l2.sort()
print(l2)

[4, 8, 8, 12, 16, 20]

In [39]:
l = [4, -2, -3, 6, 4, -8, 9, 10]

l2 = [ abs(i)*2 for i in l if i%2==0 ]
l2.sort()
print(l2)

[4, 8, 8, 12, 16, 20]